{{ define "main" }}
  <article>
    <ul class="archive">
    {{ range (where .Site.RegularPages "Section" "posts").GroupByDate "2006" }}
	
      

      <ul class="yeargroup"> 
          {{ range .Pages }}
          
            
             
            <li ><time content="{{ .Date.Format "2006-01-02"}}" >[{{ .Date.Format "2006/01/02" }}]</time> <a href="{{ .RelPermalink }}" class="permalink">{{ .Title }}</a>
          
          
          
        </li>
          {{ end }}
    </ul>
   
    {{ end }}
    </ul>

  </article>
{{ end }}