{{ $image := .Page.Resources.GetMatch .Destination }}

{{ $used:= $image}}

{{ $webpsrc := "" }}
{{ $webpsrcfit := "" }}
{{ $jpgsrc := "" }}
{{ $webpsrc2 := "" }}
{{ $jpgsrc2 := "" }}
{{ $usedsrc:= $image }}
{{ $animated := false }}




{{ if ne $image.MediaType.SubType  "gif"  }}
{{ $jpgsrc = (($image.Fit "720x720 jpg" )).RelPermalink }}
{{ $webpsrcfit = ($image.Fit "1440x1440 q95 webp" ).RelPermalink }}
{{ $webpsrc = (($image.Process "webp q95" )).RelPermalink }}
{{ $usedsrc = $jpgsrc}}
{{ else }}
{{ $usedsrc = $image.RelPermalink  }}
{{ $animated = true  }}
{{ end }}


<figure>
  
{{- with .Title}}   <div class="title-img">{{ . }}</div> {{ end -}}
<picture>

{{ with $webpsrcfit }}<source type="image/webp" srcset="{{ . }}" > {{ end }}
{{ with $jpgsrc }}<source type="image/jpeg" srcset="{{ $jpgsrc }} 1x, {{ $jpgsrc2 }} 2x" >{{ end }}
  
    <img 
    class="post-img" 
    src="{{ $usedsrc }}" 
    {{ with .Text}}  alt="{{ . }}" {{ end }} 
    {{ with .Title}} title="{{ . }}"{{ end }} 
    loading="lazy"
    width="{{$used.Width}}" 
    height="{{$used.Height}}"

    onclick="openLightbox(this, {{ .Ordinal  }} )"
    >
  </picture>
    <!--<a href="{{ .Destination | safeURL }}" target="_blank"  class="fullscreen-container" aria-label="Fullscreen image"> </a>-->

    {{- with .Text}}<figcaption class="small" > {{ . | safeHTML}}</figcaption> {{ end -}}
</figure>
<dialog id="lb-{{ .Ordinal  }}">
    
    <img
        class="dialogimg"
        src="{{ if $animated }}{{ $usedsrc  }}{{ else }}{{ $webpsrc  }}{{ end }}   "
        loading="lazy"
        
        width="{{ $image.Width}}"
        height="{{ $image.Height}}"
        >
</dialog>

