{{- /*
For a given taxonomy, renders a list of terms assigned to the page.

@context {page} page The current page.
@context {string} taxonomy The taxonony.

@example: {{ partial "terms.html" (dict "taxonomy" "tags" "page" .) }}
*/}}

{{- $page := .page }}
{{- $taxonomy := .taxonomy }}
{{- $show_label := default  true .show_label }}
{{- $label := "" }}
{{- $cssClass := .cssClass }}

{{- with $page.GetTerms $taxonomy }}
  {{ if  $show_label  }}{{- $label = printf "%s:" (index . 0).Parent.LinkTitle }}{{ end }}
      <span  class="bits-tags {{$cssClass}}">{{ $label }}
      {{- range . }}
        <a rel=tag  href="{{ .RelPermalink }}">#{{ .LinkTitle }}</a>
      {{- end }}
      </span>
{{- end }}
