@import "../fonts/IoskeleyMono-Web/WOFF2/fonts.css";
@import "../fonts/redhatmono_subsetting/fonts.css";
@import "../fonts/xits/fonts.css";

@font-face {
	font-family: "Red Hat Mono Var";
	src: 
		url('/fonts/RedHatMonoVF.woff2') format('woff2');
	font-weight: 300 400 500 700;
	font-style: normal;
	font-display: swap; 
}




/* 
.htmlmathparagraph, m|mtext {
    font-family: XITS;
} */
m|math {
    font-family: XITS Math;
}

.oldstylenumbers {
    font-variant-numeric: oldstyle-nums;   /* Recommended syntax */
    font-feature-settings: 'onum';         /* OpenType feature syntax */
    -moz-font-feature-settings: 'onum';    /* Gecko <= 33 syntax */
    -webkit-font-feature-settings: 'onum'; /* Blink syntax */
}

@font-feature-values XITS Math { @styleset { calligraphic: 1; } }
m|*.calligraphic {
    font-variant-alternates: styleset(calligraphic); /* Recommended syntax */
    font-feature-settings: 'ss01';         /* OpenType feature syntax */
    -moz-font-feature-settings: 'ss01';    /* Gecko <= 33 syntax */
    -webkit-font-feature-settings: 'ss01'; /* Blink syntax */
}

:root, html[data-theme='light'] {

	--rem: clamp(12px, 1.1em, 17px);
	--width: 60rem;
	--navpos: absolute;  /* fixed | absolute */
	--h-font-family: 'Ioskeley Mono';
	--font-main-size: 1rem;
	--font-p: var(--font-main-size) "Red Hat Mono Var", 'Open Sans', 'DejaVu Sans', FreeSans, Helvetica, sans-serif;
	--font-h: calc(var(--font-main-size) * 1.5) var(--h-font-family),'Open Sans', 'DejaVu Sans', FreeSans, Helvetica, sans-serif;
	--font-c: var(--font-main-size)  monospace ,'DejaVu Sans Mono';
	--border: 1px solid var(--cmed);
	--ornament: "‹‹‹ ›››";
	
	/* foreground   | background color */
	--cfg:   #000;    --cbg:    #efefef;
	--fg:   var(--cfg); --bg:   var(--cbg);
	--cdark: #383838;    --clight: #f5f6f7;
	--cmed:  #d1d1d1;
	--clink: rgb(55, 69, 80);
	--cemph: oklch(0.45 0.09 188.55 / 1);    --cemphbg: #0881;
	--hoverbg: var(--cemphbg); 

	--t-lum: 21%;
	--yellow-hue: 64; --yellow-sat: 87%; --yellow-l: 50%; 
	--t-yellow: hsl(var(--yellow-hue) var(--yellow-sat) var(--t-lum)); 
	--c-yellow: hsl(var(--yellow-hue) var(--yellow-sat) var(--yellow-l) / 6%);
	--yellow: hsl(var(--yellow-hue) var(--yellow-sat) var(--yellow-l) );

	--blue-hue: 193; --blue-sat: 86%; --blue-l: 32%; 
	--t-blue: hsl(var(--blue-hue) var(--blue-sat) var(--t-lum)); 
	--c-blue: hsl(var(--blue-hue) var(--blue-sat) var(--blue-l) / 9%);
	--blue: hsl(var(--blue-hue) var(--blue-sat) var(--blue-l) );

	--red-hue: 354; --red-sat: 62%; --red-l: 38%; 
	--t-red: hsl(var(--red-hue) var(--red-sat) var(--t-lum)); 
	--c-red: hsl(var(--red-hue) var(--red-sat) var(--red-l) / 11%);
	--red: hsl(var(--red-hue) var(--red-sat) var(--red-l) );

	--green-hue: 162; --green-sat: 100%; --green-l: 27%; 
	--t-green: hsl(var(--green-hue) var(--green-sat) var(--t-lum)); 
	--c-green: hsl(var(--green-hue) var(--green-sat) var(--green-l) / 9%);
	--green: hsl(var(--green-hue) var(--green-sat) var(--green-l) );

	--violet-hue: 288; --violet-sat: 80%; --violet-l: 68%; 
	--t-violet: hsl(var(--violet-hue) var(--violet-sat) var(--t-lum)); 
	--c-violet: hsl(var(--violet-hue) var(--violet-sat) var(--violet-l) / 9%);
	--violet: hsl(var(--violet-hue) var(--violet-sat) var(--violet-l) );
	--alert-text: oklch(0.17 0.03 189.46); 

	--ligthvisibility: unset;
	--darkvisibility: none;
	--font-w-p: 400;
}

@media (prefers-color-scheme: dark) {
	/* foreground   | background color */
	:root {
		--cfg:#fff;
        --cbg: #1e1e2e;
        --fg: var(--cfg);
        --bg: var(--cbg);
        --cdark: #f5f6f7;
        --clight: #24273a;
        --cmed: #d1d1d1;
        --clink: #afc3d3;
        --cemph: #00b0b0;
        --cemphbg: #7aaaaa;
		--hoverbg: var(--clight);
        --t-lum: 50%;
        --ligthvisibility: none;
        --darkvisibility: unset;
        --alert-text: #98ffff;
		--font-w-p: 300;
	}

	
}


@media (prefers-contrast: more) {
	:root {
		--cfg:   #fff;    --cbg:    #000;
		--fg:   var(--cfg); --bg:   var(--cbg);
		--cdark: #f5f6f7;    --clight: #141414;
		--cmed:  #d1d1d1;
		--clink: #afc3d3;
		--cemph: #00b0b0;    --cemphbg: #7aaaaa;
		--t-lum: 50%;
		--ligthvisibility: none;
		--darkvisibility: unset;
		--alert-text: #98ffff; 
	}
}

@media (prefers-contrast: more) and (prefers-color-scheme: dark) {
	:root {
		--cfg:   #fff;    --cbg:    #000;
		--fg:   var(--cfg); --bg:   var(--cbg);
		--cdark: #f5f6f7;    --clight: #141414;
		--cmed:  #d1d1d1;
		--clink: #afc3d3;
		--cemph: #00b0b0;    --cemphbg: #7aaaaa;
		--t-lum: 50%;
		--ligthvisibility: none;
		--darkvisibility: unset;
		--alert-text: #98ffff; 
	}
}

html { 
	/* font-size: 100%;  */
	font-size: var(--rem); 
	background: var(--cbg); 
	scrollbar-gutter: stable both-edges;
}


body {
	font-size: var(--rem); 
	position: relative;
	margin: auto;
	/* width: 100%; */
	font: var(--font-p);
	color: var(--cfg);
	padding: 3.0rem 0.6rem 0;
	font-weight: var(--font-w-p);
	min-height: 100vh; 
	display: grid;
	grid-template-rows: auto 1fr auto;
    grid-template-columns: 100%;
}


/* 2. Reset –––––––––––––––––––––––––––––––––––––––––––– */

/* reset block elements  */
* { box-sizing: border-box; border-spacing: 0; margin: 0; padding: 0;}
header, footer, figure, table, video, details, blockquote,
ul, ol, dl, fieldset, pre, caption {
	display: block;
	/* margin: 0.5rem 0rem 1rem; */
	width: 100%;
	overflow: auto hidden;
	/* text-align: left; */
}
video, summary, input, select { outline:none; }


/* headings */
/* reset clickable things  (FF Bug: select:hover prevents usage) */
a, button, select, summary { 
	color: var(--clink); 
	cursor: pointer; 
}



h1, h2, h3, h4, h5 { 
	/* margin: 1.5em 0 .5rem;  */
	font: var(--font-h); 
	line-height: 1.2em; 
	clear: both;
	font-weight: 600;
 }
h1+h2, h2+h3, h3+h4, h4+h5 { 
	margin-top: .5em; 
	padding-top: 0;
 }  /* non-clashing headings */

h1 { 
	font-size: 2em; 
	/* font-weight: 700;  */
	margin-bottom: 2.4rem;
}
h2 { font-size: 1.8em; 
	font-weight: 500; 
	font-variant: small-caps; }
h3 { font-size: 1.2em;
	font-weight: 400; }
h4 { font-size: 1.1em; 
	font-weight: 700; }
h5 { font-size: 1.05em; 
	font-weight: 400; 
	color: var(--cfg); }
h6 { font-size: 1.0em; 
	font-weight: 700; 
	font-style: italic;
	 display: inline; }
h6 + p { display: inline; }


figcaption, caption { 
    font: var(--font-c); 
    color: var(--cdark); 
    width: 100%; }


p code, kbd, samp, code {
	padding: 0.2em;
	font: var(--font-c);
	background: var(--cemphbg);
	border-radius: 4px;
	font-weight:  100;
}

.archive time{
	
	font-family: monospace;
}



math {
	padding: 1rem 0;
    overflow: auto hidden;
	font-family: "XITS Math", FiraMath,  math,sans-serif,serif;
	max-width: 100%;
}

 .inlinemath math{
	padding: unset;
}



article a{
	word-break: break-all;
}

ul.no-bullets {
  list-style-type: none; /* Remove bullets */
  padding: 0; /* Remove padding */
  margin: 0; /* Remove margins */
}
/* navbar body>nav, */

nav{
	font-family: var(--h-font-family);
	font-weight: 700;
	
}
header nav+* { 
	margin-top: 3rem;
 }

 
header nav {
	width: 100%;
	background-color: var(--clight);
	position: var(--navpos);
	top: 0; left: 0; right: 0;
	z-index: 41;	
	border-bottom: .2rem solid var(--cfg);
	font-size: 1.1em; 
	/* font-weight: 100; */

}
header nav menu { 
	list-style-type: none; 
}

header nav menu 
{ 
	margin: 0; 
	padding: 0; 
	overflow: visible; 
}

header nav menu > li {
	display: inline-block;
	margin: 0;
	padding: 0.8rem .6rem;
}


header nav menu > li > ul > li { white-space: nowrap; }
header nav menu > li:hover > ul { display: block; }

header nav menu > li:last-child { display: none; } 

@media (max-width: 40rem) {

	header nav menu:not(:hover){
		display: flex;
		justify-content: space-between;
	}

	header	nav menu > li:last-child {  
		display: inline-block;
	}
	header	nav menu > li:last-child:after { 
		content: " \25BE";
	 }
	header	nav menu > li:not(:first-child):not(:last-child):not(.sticky) { 
		display: none;
	 }
	header	nav menu:hover > li:not(:first-child):not(:last-child):not(.sticky) { 
		display: block; 
		float: none !important;
	}
	header	nav menu:hover > li:last-child { 
		display: none; 
	}

	/* header	nav menu:hover > li:not(:last-child):not(.sticky) { display: block; float: none !important; } */
}

b {
	font-weight: bold;
}

/*concrete.css */
img {
/*	max-width: 100%;*/
/*max-height: min(70vh, calc(var(--width) * 1.77));  1 */
	max-height: min(50vh, calc(var(--width) * 1.77));
	height: auto;
}

/** 
* 1. Center the main element horizontally.
* 2. Set the width of the element to 640px, with padding for mobile screens.
*/
main {
	min-height: 55vh;
	margin: 0 auto;
	padding: 2.5rem .1rem;
}

main, header h1 {
	max-width: var(--width);; /* 2 */
	width: 100%; /* 2 */

/* padding: 0 .5rem;  */
}
	