@charset "UTF-8";



@keyframes blink-animation {
	0%,
	50%,
	100% {
	  opacity: 1;
	}
	25%,
	75% {
	  opacity: 0.1;
	}
  }







/* 3. Base Style ––––––––––––––––––––––––––––––––––––––– */


body > footer { margin-top: 10rem ; font-size: 90%;  }
p { 
	margin: .6em 0;
	/* line-height: 1.2em; */
	
	/* letter-spacing: -.05em;  */
}

/* links */

/* a[href]{ text-decoration: underline solid var(--cmed); text-underline-position: under; } */

a[href^="#"] {text-decoration: none; }
a:hover, button:not([disabled]):hover, summary:hover {
	filter: brightness(92%); 
	color: var(--cemph); 
	border-color: var(--cemph);
}

/* lists */
ul, ol, dl { margin: 1rem 0; padding: 0 0 0 2em; }
li:not(:last-child), dd:not(:last-child) { margin-bottom: 0.5rem; }
dt { font-weight: bold; }

/* tables */
td, th {
  padding: 0.5em 0.8em;
  text-align: right;
  border-bottom: 0.1rem solid var(--cmed);
  white-space: nowrap;
  font-size: 95%;
}
thead th[colspan] { padding: .2em 0.8em; text-align: center; }
thead tr:not(:only-child) td { padding: .2em 0.8em; }
thead+tbody tr:first-child td { border-top: 0.1rem  solid var(--cdark);  }
td:first-child, th:first-child { text-align: left; }
tr:hover{ background-color: var(--clight); }
table img { display: block; }

/* figures */
img, svg { 
	width: 100%; 
	vertical-align: text-top; 
	object-fit: contain;
 }
p>img:not(:only-child) { 
	float: right; 
	margin: 0 0 .5em .5em;
 }
figure > img { 
	display: inline-block; 
	width: auto; 
}
figure > img:only-of-type, figure > svg:only-of-type { 
	max-width: 100%; 
	display: block; 
	margin: 0 auto 0.4em; }
figcaption > *:first-child, caption > *:first-child { 
	display: inline-block; 
	margin: 0; }
figure > *:not(:last-child) { 
	margin-bottom: 0.4rem; }

/* code */
/* pre > code { */
.codeblock{
  margin: 0;
  position: relative;
  padding: 0.2rem 0.8rem;
  border-left: .4rem solid var(--cemph);
  font-weight: 100;
  background-color: var(--cbg);
  margin: 1rem auto;
}

.chroma code{
  background-color: unset;
  min-width: 100%;
}
kbd { border: 1px solid var(--cmed); }

/* misc */
blockquote,#TableOfContents {
	border-left: 0.4rem solid var(--cmed);
	padding: 0 0 0 1rem;
}

time, relative-time{ 
	color: var(--cdark); 
	font-weight: 100;
	font-size: 0.9rem;
	font-style: italic;
}

hr { border: 0;
	border-top: 0.1rem solid var(--cmed);
}



::selection, mark {
	background: var(--cemph);
	color: var(--cbg);
}


/* 4. Extra Style –––––––––––––––––––––––––––––––––––––– */

/* Auto Numbering: figure/tables/headings/cite */
article { 
	counter-reset: h2 0 h3 0 tab 0 fig 0 lst 0 ref 0 eq 0;
	
}


article figure figcaption:before {
	color: var(--cemph);
	counter-increment: fig;
	content: "Figure " counter(fig) ": ";
}

/* subfigures */
figure { 
	counter-reset: subfig 0 ;
	object-fit: scale-down;
}
article figure figure { counter-reset: none; }
article figure > figure { display: inline-grid; width: auto; }
figure > figure:not(:last-of-type) { padding-right: 1rem; }
article figure figure figcaption:before {
	counter-increment: subfig 1;
	content: counter(subfig, lower-alpha) ": ";
}
/*picture, img{*/
/*	aspect-ratio: 1/1 ;*/
/*	object-fit: scale-down;*/
/*}*/

/* listings */
article figure pre + figcaption:before {
	counter-increment: lst 1;
	content: "Listing " counter(lst) ": ";
}

/* tables */
figure > table:only-of-type { display: table; margin: 0.5em auto !important; width: fit-content; }
article figure > table caption { display: table-caption; caption-side: bottom; }
article figure > table + figcaption:before,
article table caption:before {
	color: var(--cemph);
	counter-increment: tab 1;
	content: "Table " counter(tab) ": ";
}

/* headings */
article h2, h3 { 
	text-decoration: underline;
	position: relative; 
}

@media (min-width: 67rem) {
article h2:before,
article h3:before {
	display: inline-block;
	position: relative;
	text-align: right;
	vertical-align: baseline;
	left: -1rem;
	width: 2.5em;
	margin-left: -2.5em;

}
}

article h2:before,
article h3:before {
	font-size: 0.6em;

}

article h1 { counter-set: h2; }
article h2:before { counter-increment: h2; content: counter(h2) ". "; counter-set: h3; }
article h3:before { counter-increment: h3; content: counter(h2) "." counter(h3) ". ";}
/*@media (max-width: 60rem) { h2:before, h3:before { display: none; } }*/

/* tooltip + citation */
article p>cite:before {
	padding: 0 .5em 0 0;
	counter-increment: ref; content: " [" counter(ref) "] ";
	vertical-align: super; font-size: .6em;
}
article p>cite > *:only-child { display: none; }
article p>cite:hover > *:only-child,
[data-tooltip]:hover:before {
	display: inline-block; z-index: 40;
	white-space: pre-wrap;
	position: absolute; left: 1rem; right: 1rem;
	padding: 1em 2em;
	text-align: center;
	transform:translateY( calc(-100%) );
	content: attr(data-tooltip);
	color: var(--cbg);
	background-color: var(--cemph);
	box-shadow: 0 2px 10px 0 black;
}
[data-tooltip], article p>cite:before { 
	color: var(--clink);
	border: .8rem solid transparent; margin: -.8rem;
}
abbr[title], [data-tooltip] { cursor: help; }


/* details/cards */
summary>* { display: inline; }
.card, details {
	display: block;
	margin: 0.5rem 0rem 1rem;
	padding: 0 .6rem;
	border-radius: 4px;
	overflow: hidden;
}
.card
/*,  details[open]  */
	{	 outline: 1px solid var(--cmed); }

.card>img:first-child 
{ 
	margin: -3px -.6rem; 
	max-width: calc(100% + 1.2rem); 
}

summary:hover,
 details[open] summary, 
 .card>p:first-child {
	box-shadow: inset 0 0 0 2em var(--clight), 0 -.8rem 0 .8rem var(--clight); 
}
.hint { 
	--cmed: var(--cemph); 
	--clight: var(--cemphbg); 
	background-color: var(--clight); }

.warn { --cmed: #c11; 
	--clight: #e221; 
	background-color: var(--clight); 
}

/* big first letter */
/* article > section:first-of-type > h2:first-of-type + p:first-letter,
article > h2:first-of-type + p:first-letter, .lettrine {
	float: left;
	font-size: 3.5em;
	padding: 0.1em 0.1em 0 0;
	line-height: 0.68em;
	color: var(--cemph);
} */

/* ornaments */
section:after {
	display: block;
	margin: 1em 0;
	color: var(--cmed);
	text-align: center;
	font-size: 1.5em;
	content: var(--ornament);
}

/* side menu (aside is not intended for use in a paragraph!) */
main aside {
	position: absolute;
	width: 8rem;      right: -8.6rem;
	font-size: 0.8em; line-height: 1.4em;
}
/*@media (max-width: 70rem) { main aside { display: none; } }*/

/* forms and inputs  */
/* textarea, input:not([type=range]), button, select {
	font: var(--font-h);
	border-radius: 4px;
	border: 1.5px solid var(--cmed);
	padding: 0.4em 0.8em;
	color: var(--cfg);
	background-color: var(--clight);
}
fieldset select, input:not([type=checkbox]):not([type=radio]) {
	display: block;
	width: 100%;
	margin: 0 0 1rem;
} */
button, select {
	font-weight: bold;
	margin: .5em;
	border: 1.5px solid var(--clink);
}
button { padding: 0.4em 1em; font-size: 85%; letter-spacing: 0.1em; }
button[disabled]{ color: var(--cdark); border-color: var(--cmed); }
fieldset { border-radius: 4px; border: var(--border); padding: .5em 1em;}

/* textarea:hover, input:not([type=checkbox]):not([type*='ra']):hover, select:hover{
  border: 1.5px solid var(--cemph);
} */

/* textarea:focus, input:not([type=checkbox]):not([type*='ra']):focus{
	border: 1.5px solid var(--clink);
	box-shadow: 0 0 5px var(--clink);
} */
p>button { padding: 0 .5em; margin: 0 .5em; }
p>select { padding: 0;      margin: 0 .5em; }





/* math */





/* .katex-display { overflow: auto hidden }
.katex-display > .katex { white-space: normal } */
/* Add space between broken lines: */
/* .katex-display > .base { margin: 0.25em 0 } */
/* Compensate by reducing space around display math */
/* .katex-display { margin: 0.5em 0; } */




  /**
   * 1. Add some padding around the header.
   * 2. Increase the size of text in the header.
   */
  
  /* header { 
	font-size: 1.2rem;
  }
   */
  /**
   * Center the text in the footer.
   */
  
  footer {
	text-align: center;
  }
  
  /**
   * Add some padding around the sections.
   */
  
  section {
	padding: 4rem 0;
  }
  
  /**
   * 1. Change the style of the button.
   * 2. Set the color and border of the button.
   * 3. Add the pointer cursor when hovering a button.
   */
  
  button,
  input[type="button"],
  input[type="reset"],
  input[type="submit"] {
	display: inline-block; /* 1 */
	vertical-align: middle; /* 1 */
	padding: .4rem 1rem; /* 1 */
	font-size: 2rem; /* 1 */
	font-weight: normal; /* 1 */
	margin-bottom: 1rem; /* 1 */
	background: var(--cbg); /* 2 */
	color: var(--cfg); /* 2 */
	border: .2rem solid var(--cfg); /* 2 */
	border-radius: 0; /* 2 */
	cursor: pointer; /* 3 */
  }
  
  /**
   * 1. Set the border of a disabled button to be dashed.
   * 2. Add the not-allowed cursor when hovering a disabled button.
   */
  
  button:disabled,
  input[type="button"]:disabled,
  input[type="reset"]:disabled,
  input[type="submit"]:disabled{
	border-style: dashed; /* 1 */
	cursor: not-allowed; /* 2 */ 
  }
  
  /**
   * Set the list bullet to square.
   */
  
  ul {
	list-style: square;
  }
  
  /**
   * Set the border around a fieldset.
   */
  
  fieldset {
	border: .2rem solid var(--cfg);
  }
  
  /**
   * 1. Modify the display of labels and legends.
   * 2. Add a margin underneath.
   */
  
  label, legend {
	display: block; /* 1 */
	font-weight: bold; /* 1 */
	margin-bottom: .8rem; /* 2 */
  }
  
  /** 
   * 1. Change the appearance of the text input.
   * 2. Set the color and border of the text input.
   */
  
 input[type="email"],
  input[type="number"],
  input[type="password"],
  input[type="search"],
  input[type="tel"],
  input[type="text"],
  input[type="url"],
  textarea,
  select {
	-webkit-appearance: none; /* 1 */
	-moz-appearance: none; /* 1 */
	appearance: none; /* 1 */
	box-shadow: none; /* 1 */
	box-sizing: inherit; /* 1 */
	padding: .4rem 1rem; /* 1 */
	width: 100%; /* 1 */
	font-size: 2rem; /* 1 */
	color: var(--cfg); /* 2 */
	background-color: var(--cbg); /* 2 */
	border: .2rem solid var(--cfg); /* 2 */
	border-radius: 0; /* 2 */
  }
   
  
  fieldset, input, select, textarea {
	margin: 0 0 1.6rem 0;
  }
  
  /**
   * 1. Set the font color for the placeholder in inputs.
   * 2. Set font-style to italic for the placeholder in inputs.
   */
  
  input::placeholder,
  textarea::placeholder {
	color: var(--cfg); /* 1 */
	font-style: italic; /* 2 */
  }
  
  /**
   * 1. Expand width to 100% for the table element.
   * 2. Remove the distance between the borders of adjacent table cells.
   */
  
  table {
	width: 100%; /* 1 */
	border-spacing: 0; /* 2 */
  }
  
  /**
   * Add padding around table cells.
   */
  
  td, th {
	padding: .8rem;
  }
  
  /**
   * Remove left padding for first cell in a row.
   */
  
  td:first-child, th:first-child {
	padding-left: 0;
  }
  
  /**
   * Remove right padding for last cell in a row.
   */
  
  td:last-child, th:last-child {
	padding-right: 0;
  }
  
  /**
   * 1. Add a border under the table header.
   * 2. Align the text to the left in the table header.
   */
  
  th {
	border-bottom: .2rem solid var(--cfg); /* 1 */
	text-align: left; /* 2 */
  }
  
  /**
   * Add a thiner border under table rows.
   */
  
  td {
	border-bottom: .1rem solid var(--cfg);
  }
  

  #TableOfContents:empty{
	display: none;
  } 
  /**
   * 1. Change the margins and padding.
   * 2. Add a border on the left of these elements.
   * 3. Set the y overflow to hidden to hide the navigation bar.
   */
  
  /* blockquote, pre { */
	blockquote , #TableOfContents {
	margin-left: 0; /* 1 */
	margin-right: 0; /* 1 */
	padding: 1rem 1.6rem; /* 1 */
	border-left: .2rem solid var(--cfg); /* 2 */
	overflow-y: hidden; /* 3 */
  }
  
  /**
   * 1. Set the rest of the border of the preformatted element to dotted.
   * 2. Re-set the left border style.
   */
  
  /* pre {
	border: 0.1rem dotted var(--cfg);
	border-left: 0.2rem solid var(--cfg);
  } */
  
  /**
   * 1. Modify the display of the code block.
   * 2. Reduce the font size of the code block.
   */
  
  pre > code {
	white-space: pre; /* 1 */
	display: block; /* 1 */
	overflow-x: hidden;
    width: fit-content;
  }

  .chroma{
	overflow-x: hidden;
    width: fit-content;
	margin: 0;
  }

  .highlight{
	overflow-x: auto;
  }
  
  .terminalIcon::after, .alert-heading::after{
	animation: blink-animation 2s infinite both;
  }
  .terminalIcon::after{
	content: "_";
  }

  .terminalIcon:focus::after{
	content: "";
  }

  
  .terminalIcon{
	
	caret-shape: block;
  }

  .codelang::before, .codelang::after{
	font-stretch: condensed;
  }

  /* .terminalIcon::before{
	content: "〉";
  } */
  

  .codeIcon::before{
	content: "<";
  }

  .codeIcon::after{
	content: "/>";
  }

  .codelang {
	color: var(--cemph);
	opacity: 0.8;
	font-weight: 150;
  }
  /**
   * 1. Modify the display of the progress bar in all browsers.
   * 2. Set the colors and border of the progress bar.
 	background: var(--cbg); 
	 color: var(--cfg); 
	 border: .2rem solid var(--cfg); 
 


	   progress[value]::-webkit-progress-bar {
	background-color: red;
	border-radius: 2px;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
  }
   */
  
  progress {
	 -moz-appearance: none; 
	 -webkit-appearance: none;
	 appearance: none;
	display: block; /* 1 */
	height: 1rem; /* 1 */
	overflow: hidden; /* 1 */
	padding: 0; /* 1 */
	width: 100%; /* 1 */

	border-radius: 0; /* 2 */
  }



   progress:not([value]) {
	background: var(--cbg);
	color: var(--cfg); 
 }
  
  
  /**
   * Set the background color of the webkit progress bar.
   */
  
  /* progress::-webkit-progress-bar {
	background-color: var(--cfg);
  } */
  
  /**
   * Set the color of the webkit progress bar.
   */
  
  /* progress::-webkit-progress-value {
	background-color: var(--cfg);
  } */
  
  /**
   * Set the color of the mozilla progress bar.
   */
  
  /* progress::-moz-progress-bar {
	background-color: var(--cfg);
  }

  progress:not([value]) {
	background-color: var(--cbg);
 } */
  
  /**
   * Set the border for the horizontal rule.
   */
  
  hr {
	margin: 2rem 8px;
    height: .15rem;
    border-width: 0;
    color: var(--cfg);
    background-color: var(--cfg);
  }

  figcaption{
	text-align: center;
	font-style: italic;
  }

  .lite-youtube-container, figure{
	border: 2px solid var(--cfg);
	padding: .5rem;
  }

  .time-container{
	font-style:italic;
    display: flex;
    justify-content: space-between;
  }

.footnote-ref::after{
	content: "]";
}

.footnote-ref::before{
	content: "[";
}


.alert{
	border-left: .4rem solid;
	color: var(--alert-text);
}


.alert-note {
	border-left-color:var(--blue);
	background:var(--c-blue);
	--alert-title: var(--t-blue);
}
.alert-warning {
	--alert-title:var(--t-red);
	border-left-color: var(--red);
	background:var(--c-red);
	
}
.alert-caution {
	--alert-title:var(--t-yellow);
	border-left-color: var(--yellow);
	background:var(--c-yellow)
}

.alert-tip{
	border-left-color:var(--green);
	background:var(--c-green);
	--alert-title: var(--t-green) 
}

.alert-important{
	border-left-color:var(--violet);
	background:var(--c-violet);
	--alert-title: var(--t-violet);
}


.alert-heading{
	color: var(--alert-title);
	font-weight: bold;
}

/* .notification-warning .blocktitle::after{
	content: "❕";
}
.notification-success .blocktitle::after{
	content: "✔️";
}
.notification-danger .blocktitle::after{
	content: "❌";
}
.notification-info .blocktitle::after{
	content: "ℹ️";
} */

code:not(.codeblock code){
	font-style: italic;
	/* text-underline-offset: 0.2em; */
	/* text-decoration:  underline var(--cemph) dotted 2px; */
}
 summary{
	user-select: none;
	background-color: var(--cbg);
}
 .codeblock summary{
	background-color: var(--cbg);
	display: flex;
	justify-content: flex-end;
	border-bottom-style: solid;

 }
 
.codeblock summary::marker{
	display: none; 
	content: "";
} 

dialog {
	width: 80%;
	margin: auto;
}
 ::backdrop {
	background-color: #aaaaaa;
	opacity: 0.75;
} 

.dialogimg{
	max-width:unset;
	max-height:unset;
	display:block;
	user-select: none;
}

.dialogimg-ev{
	height: 90vh;
    width: auto;
}

.dialogimg-eh{
	height: 90vh;;
    width: auto;
}

/* .dialogcontainer-ev{

} */

.dialogcontainer-eh{
	width: fit-content;
}

.searchbutton{
	aspect-ratio: 1/1;
	font-size: 1em;
	filter: grayscale(1);
	
}

.flex-h{
	display: flex;
}

.flex-h > input {
	height: 2.2em;
	font-size: 1.5em;
}

footer nav ul{
	padding: 0;
	display: flex;
	justify-content: space-evenly;
    align-items: stretch;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: stretch;
	list-style-type: none;
	
}

footer nav li a {
    text-align: center;
    display: block;
    /* color: red; */
}

footer nav li{
	
    flex: 1;
}

footer{
	max-width: var(--width);
	width: 100%;
    padding: 0 .5rem;
	margin: auto;
}

.archive,.yeargroup{
	list-style-type: none;
	padding-left: 0;
}


.yeargroup li {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

/* .yeargroup time{ 
	text-decoration: underline dotted var(--cemph);
    text-underline-position: under;
} */
/* 
.yeargroup:not(:last-child)::after{

	display: block;
	margin: .1em 0;
	color: var(--cmed);
	text-align: center;
	font-size: 1.5em;
	content: var(--ornament);
} */

.yeargroup time {
	font-size: 0.9em;
}

.archive-type{
	padding-left: clamp(0.1rem, 1vw, 2rem); 
	padding-right: clamp(0.1rem, 1vw, 2rem); 
}

.yeargroup:not(:last-child){
	border-bottom: .2rem solid var(--cfg);

}

.yeargroup{
	padding: 2rem 0;

}
.yeargroup time{
	font-style: normal;
}

/* .yeargroup li{
	display: flex;
	justify-content: space-between
} */

#search-input:placeholder-shown{
	font-style: italic;
	color: var(--clink);
	font-weight: lighter;
}


.footnotes li:target , article sup:target a {
	background: color-mix(in oklab , var(--cemph) 65%, var(--cfg));
	color: var(--cbg);
	/* opacity: 0.8; */
}

.footnotes li::marker{
    color: var(--cfg);
}

.footnotes li:target a {
	color: var(--clight);
}

.popover::backdrop{
	background-color:unset;
	opacity: unset;
	backdrop-filter: blur(10px);


}

.popover:popover-open {
    width: 300px;
    height: 200px;
    padding: 0 10px;
    border-radius: 10px;
	margin: auto;
  }

.ligthversion{
	display: var(--ligthvisibility);
}

.darkversion{
	display: var(--darkvisibility);
}

#TableOfContents li::marker{
	content: "↪ ";
}

article h1 {
	text-decoration: underline;
}

.blockquote-caption{
	text-align: right;
	font-style: italic;
}

.blockquote-caption::before {
	content: '-';
  }


.bits-info{
	display: flex;
	/* flex-direction: row-reverse; */
	margin-bottom: 2rem;
}

.bits-tags {
	margin-top: 2rem;
	display: flex;
}

.bits-tags a{
	margin-left: 1rem;
}

.bits-hr {
	border: none;
  	border-top: 3px dashed ;
	height: 5px;
	opacity: 0.6; 
	background: none;
}

.bits-list-element{
	
	background-color: var(--clight);
	border: 2px dashed ;
  	border-radius: 0.5rem;
	margin-bottom: 1rem;
	padding: 2rem 1rem;
}
/* h2, h3, h4, h5 {
	display: inline;
} */

