@charset "UTF-8";

@font-face {
	font-family: "FiraMath";
	src:
	  url("/fonts/FiraMath.woff2") format("woff2");
	font-display: optional; 
}
@font-face {
	font-family: "Asana";
	src:
	  url("/fonts/Asana.otf") format("opentype")
}
@font-face {
	font-family: "FSNeohellenicMath";
	src:
	  url("/fonts/FSNeohellenicMath.otf") format("opentype") 
}

@font-face {
	font-family: "TexGyreSchola";
	src:
	  url("/fonts/texgyreschola-regular.otf") format("opentype") 
}

@font-face {
	font-family: "STIXTwo";
	src:
	  url("/fonts/STIXTwoMath-Regular.otf") format("opentype") 
}


@font-face {
	font-family: "Berkeley Mono";
	src:
		url('/fonts/berkeleymono-regular-webfont.woff2') format('woff2'),
		url('/fonts/berkeleymono-regular-webfont.woff') format('woff'),
		url('/fonts/berkeleymono-regular-webfont.ttf') format('truetype');
	font-weight: 100;
	font-style: normal;
	font-display: swap; 
}

@font-face {
	font-family: "Berkeley Mono";
	src:
		url('/fonts/berkeleymono-bold-webfont.woff2') format('woff2'),
		url('/fonts/berkeleymono-bold-webfont.woff') format('woff'),
		url('/fonts/berkeleymono-bold-webfont.ttf') format('truetype');
	font-weight: 150;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Berkeley Mono";
	src:
		url('/fonts/berkeleymono-italic-webfont.woff2') format('woff2'),
		url('/fonts/berkeleymono-italic-webfont.woff') format('woff'),
		url('/fonts/berkeleymono-italic-webfont.ttf') format('truetype');
	font-weight: 100;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: "Berkeley Mono Var";
	src: 
		url('/fonts/BerkeleyMonoVariable-Regular.woff2') format('woff2-variations');
		/* url('/fonts/BerkeleyMonoVariable-Regular.woff') format('woff'),
		url('/fonts/BerkeleyMonoVariable-Regular.ttf') format('truetype'); */
	font-weight: 100 150;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Berkeley Mono Var";
	src: 
		url('/fonts/BerkeleyMonoVariable-Italic.woff2') format('woff2-variations');
		/* url('/fonts/BerkeleyMonoVariable-Regular.woff') format('woff'),
		url('/fonts/BerkeleyMonoVariable-Regular.ttf') format('truetype'); */
	font-weight: 100 150;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: "Red Hat Mono Var";
	src: 
		url('/fonts/RedHatMonoVF.woff2') format('woff2-variations');
		/* url('/fonts/BerkeleyMonoVariable-Regular.woff') format('woff'),
		url('/fonts/BerkeleyMonoVariable-Regular.ttf') format('truetype'); */
	font-weight: 300 400 500 700;
	font-style: normal;
	font-display: swap; 
}

@font-face {
	font-family: "Red Hat Mono Var";
	src: 
		url('/fonts/RedHatMonoVF-Italic.woff2') format('woff2-variations');
		/* url('/fonts/BerkeleyMonoVariable-Regular.woff') format('woff'),
		url('/fonts/BerkeleyMonoVariable-Regular.ttf') format('truetype'); */
		font-weight: 300 400 500 700;
	font-style: italic;
	font-display: swap;
}


@font-face {
	font-family: 'Red Hat Mono';
	font-style: italic;
	font-weight: 300 700;
	font-display: swap;
	src: url(/fonts/redhatmono/jVyT7nDnA2uf2zVvFAhhzEsUXdxe1gjQeA.woff2) format('woff2');
	unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
  }
  /* latin */
  @font-face {
	font-family: 'Red Hat Mono';
	font-style: italic;
	font-weight: 300 700;
	font-display: swap;
	src: url(/fonts/redhatmono/jVyT7nDnA2uf2zVvFAhhzEsUXdxQ1gg.woff2) format('woff2');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
  /* latin-ext */
  @font-face {
	font-family: 'Red Hat Mono';
	font-style: normal;
	font-weight: 300 700;
	font-display: swap;
	src: url(/fonts/redhatmono/jVyN7nDnA2uf2zVvFAhhzEsUVuxSzgw.woff2) format('woff2');
	unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
  }
  /* latin */
  @font-face {
	font-family: 'Red Hat Mono';
	font-style: normal;
	font-weight: 300 700;
	font-display: swap;
	src: url(/fonts/redhatmono/jVyN7nDnA2uf2zVvFAhhzEsUWOxS.woff2) format('woff2');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }

@keyframes blink-animation {
	0%,
	50%,
	100% {
	  opacity: 1;
	}
	25%,
	75% {
	  opacity: 0.1;
	}
  }


/* Classless.css v1.0

Table of Contents:
 1. Theme Settings
 2. Reset
 3. Base Style
 4. Extras  (remove unwanted)
 5. Classes  (remove unwanted)
*/

/* 1. Theme Settings ––––––––––––––––––––-–––––––––––––– */



:root, html[data-theme='light'] {

	--rem: clamp(12px, 1.1em, 17px);
	--width: 60rem;
	--navpos: absolute;  /* fixed | absolute */
	--font-p: 1rem  "Red Hat Mono Var", 'Open Sans', 'DejaVu Sans', FreeSans, Helvetica, sans-serif;
	--font-h: 1.5rem 'Berkeley Mono Var','Open Sans', 'DejaVu Sans', FreeSans, Helvetica, sans-serif;
	--font-c: 1rem monospace ,'DejaVu Sans Mono', monospace;
	--border: 1px solid var(--cmed);
	--ornament: "‹‹‹ ›››";
	
	/* foreground   | background color */
	--cfg:   #000;    --cbg:    #efefef;
	--fg:   var(--cfg); --bg:   var(--cbg);
	--cdark: #383838;    --clight: #f5f6f7;
	--cmed:  #d1d1d1;
	--clink: rgb(55, 69, 80);
	--cemph: oklch(0.45 0.09 188.55 / 1);    --cemphbg: #0881;

	--t-lum: 21%;
	--yellow-hue: 64; --yellow-sat: 87%; --yellow-l: 50%; 
	--t-yellow: hsl(var(--yellow-hue) var(--yellow-sat) var(--t-lum)); 
	--c-yellow: hsl(var(--yellow-hue) var(--yellow-sat) var(--yellow-l) / 6%);
	--yellow: hsl(var(--yellow-hue) var(--yellow-sat) var(--yellow-l) );

	--blue-hue: 193; --blue-sat: 86%; --blue-l: 32%; 
	--t-blue: hsl(var(--blue-hue) var(--blue-sat) var(--t-lum)); 
	--c-blue: hsl(var(--blue-hue) var(--blue-sat) var(--blue-l) / 9%);
	--blue: hsl(var(--blue-hue) var(--blue-sat) var(--blue-l) );

	--red-hue: 354; --red-sat: 62%; --red-l: 38%; 
	--t-red: hsl(var(--red-hue) var(--red-sat) var(--t-lum)); 
	--c-red: hsl(var(--red-hue) var(--red-sat) var(--red-l) / 11%);
	--red: hsl(var(--red-hue) var(--red-sat) var(--red-l) );

	--green-hue: 162; --green-sat: 100%; --green-l: 27%; 
	--t-green: hsl(var(--green-hue) var(--green-sat) var(--t-lum)); 
	--c-green: hsl(var(--green-hue) var(--green-sat) var(--green-l) / 9%);
	--green: hsl(var(--green-hue) var(--green-sat) var(--green-l) );

	--violet-hue: 288; --violet-sat: 80%; --violet-l: 68%; 
	--t-violet: hsl(var(--violet-hue) var(--violet-sat) var(--t-lum)); 
	--c-violet: hsl(var(--violet-hue) var(--violet-sat) var(--violet-l) / 9%);
	--violet: hsl(var(--violet-hue) var(--violet-sat) var(--violet-l) );
	--alert-text: oklch(0.17 0.03 189.46); 

	--ligthvisibility: unset;
	--darkvisibility: none;
	--font-w-p: 400;
}

@media (prefers-color-scheme: dark) {
	/* foreground   | background color */
	:root {
		--cfg:#fff;
        --cbg: #1e1e2e;
        --fg: var(--cfg);
        --bg: var(--cbg);
        --cdark: #f5f6f7;
        --clight: #24273a;
        --cmed: #d1d1d1;
        --clink: #afc3d3;
        --cemph: #00b0b0;
        --cemphbg: #7aaaaa;
        --t-lum: 50%;
        --ligthvisibility: none;
        --darkvisibility: unset;
        --alert-text: #98ffff;
		--font-w-p: 300;
	}

	
}


@media (prefers-contrast: more) {
	:root {
		--cfg:   #fff;    --cbg:    #000;
		--fg:   var(--cfg); --bg:   var(--cbg);
		--cdark: #f5f6f7;    --clight: #141414;
		--cmed:  #d1d1d1;
		--clink: #afc3d3;
		--cemph: #00b0b0;    --cemphbg: #7aaaaa;
		--t-lum: 50%;
		--ligthvisibility: none;
		--darkvisibility: unset;
		--alert-text: #98ffff; 
	}
}

@media (prefers-contrast: more) and (prefers-color-scheme: dark) {
	:root {
		--cfg:   #fff;    --cbg:    #000;
		--fg:   var(--cfg); --bg:   var(--cbg);
		--cdark: #f5f6f7;    --clight: #141414;
		--cmed:  #d1d1d1;
		--clink: #afc3d3;
		--cemph: #00b0b0;    --cemphbg: #7aaaaa;
		--t-lum: 50%;
		--ligthvisibility: none;
		--darkvisibility: unset;
		--alert-text: #98ffff; 
	}
}





/* 2. Reset –––––––––––––––––––––––––––––––––––––––––––– */

/* reset block elements  */
* { box-sizing: border-box; border-spacing: 0; margin: 0; padding: 0;}
header, footer, figure, table, video, details, blockquote,
ul, ol, dl, fieldset, pre, caption {
	display: block;
	margin: 0.5rem 0rem 1rem;
	width: 100%;
	overflow: auto hidden;
	text-align: left;
}
video, summary, input, select { outline:none; }

/* reset clickable things  (FF Bug: select:hover prevents usage) */
a, button, select, summary { color: var(--clink); cursor: pointer; }


/* 3. Base Style ––––––––––––––––––––––––––––––––––––––– */
html { 
	/* font-size: 100%;  */
	font-size: var(--rem); 
	background: var(--cbg); 
	min-height: 105vh;
}
body {
	font-size: var(--rem); 
	position: relative;
	margin: auto;
/*	max-width: var(--width);*/
	width:100%;
	font: var(--font-p);
	color: var(--cfg);
	padding: 3.0rem 0.6rem 0;
	overflow-x: hidden;
	font-weight: var(--font-w-p);
}
body > footer { margin-top: 10rem ; font-size: 90%;  }
p { 
	margin: .6em 0;
	/* line-height: 1.2em; */
	
	/* letter-spacing: -.05em;  */
}

/* links */

/* a[href]{ text-decoration: underline solid var(--cmed); text-underline-position: under; } */

a[href^="#"] {text-decoration: none; }
a:hover, button:not([disabled]):hover, summary:hover {
	filter: brightness(92%); 
	color: var(--cemph); 
	border-color: var(--cemph);
}

/* lists */
ul, ol, dl { margin: 1rem 0; padding: 0 0 0 2em; }
li:not(:last-child), dd:not(:last-child) { margin-bottom: 0.5rem; }
dt { font-weight: bold; }

/* headings */
h1, h2, h3, h4, h5 { 
	margin: 1.5em 0 .5rem; 
	font: var(--font-h); 
	line-height: 1.2em; 
	clear: both;
	font-weight: 150;
 }
h1+h2, h2+h3, h3+h4, h4+h5 { margin-top: .5em; padding-top: 0; }  /* non-clashing headings */
h1 { font-size: 2em; font-weight: 300; }
h2 { font-size: 1.8em; font-weight: 300; font-variant: small-caps; }
h3 { font-size: 1.2em; font-weight: 400; }
h4 { font-size: 1.1em; font-weight: 700; }
h5 { font-size: 1.05em; font-weight: 400; color: var(--cfg); }
h6 { font-size: 1.0em; font-weight: 700; font-style: italic; display: inline; }
h6 + p { display: inline; }

/* tables */
td, th {
  padding: 0.5em 0.8em;
  text-align: right;
  border-bottom: 0.1rem solid var(--cmed);
  white-space: nowrap;
  font-size: 95%;
}
thead th[colspan] { padding: .2em 0.8em; text-align: center; }
thead tr:not(:only-child) td { padding: .2em 0.8em; }
thead+tbody tr:first-child td { border-top: 0.1rem  solid var(--cdark);  }
td:first-child, th:first-child { text-align: left; }
tr:hover{ background-color: var(--clight); }
table img { display: block; }

/* figures */
img, svg { width: 100%; vertical-align: text-top; object-fit: contain; }
p>img:not(:only-child) { float: right; margin: 0 0 .5em .5em; }
figure > img { display: inline-block; width: auto; }
figure > img:only-of-type, figure > svg:only-of-type { max-width: 100%; display: block; margin: 0 auto 0.4em; }
figcaption, caption { font: var(--font-c); color: var(--cdark); width: 100%; }
figcaption > *:first-child, caption > *:first-child { display: inline-block; margin: 0; }
figure > *:not(:last-child) { margin-bottom: 0.4rem; }

/* code */
/* pre > code { */
.codeblock{
  margin: 0;
  position: relative;
  padding: 0.2rem 0.8rem;
  border-left: .4rem solid var(--cemph);
  font-weight: 100;
  background-color: var(--cbg);
}
p code, kbd, samp, code {
	padding: 0.2em;
	font: var(--font-c);
	background: var(--cemphbg);
	border-radius: 4px;
	font-weight:  100;
}
.chroma code{
  background-color: unset;
  min-width: 100%;
}
kbd { border: 1px solid var(--cmed); }

/* misc */
blockquote,#TableOfContents {
	border-left: 0.4rem solid var(--cmed);
	padding: 0 0 0 1rem;
}

time, relative-time{ 
	color: var(--cdark); 
	font-weight: 100;
	font-size: 0.9rem;
	font-style: italic;
}

hr { border: 0;
	border-top: 0.1rem solid var(--cmed);
}



::selection, mark {
	background: var(--cemph);
	color: var(--cbg);
}


/* 4. Extra Style –––––––––––––––––––––––––––––––––––––– */

/* Auto Numbering: figure/tables/headings/cite */
article { counter-reset: h2 0 h3 0 tab 0 fig 0 lst 0 ref 0 eq 0; }
article figure figcaption:before {
	color: var(--cemph);
	counter-increment: fig;
	content: "Figure " counter(fig) ": ";
}

/* subfigures */
figure { 
	counter-reset: subfig 0 ;
	object-fit: scale-down;
}
article figure figure { counter-reset: none; }
article figure > figure { display: inline-grid; width: auto; }
figure > figure:not(:last-of-type) { padding-right: 1rem; }
article figure figure figcaption:before {
	counter-increment: subfig 1;
	content: counter(subfig, lower-alpha) ": ";
}
/*picture, img{*/
/*	aspect-ratio: 1/1 ;*/
/*	object-fit: scale-down;*/
/*}*/

/* listings */
article figure pre + figcaption:before {
	counter-increment: lst 1;
	content: "Listing " counter(lst) ": ";
}

/* tables */
figure > table:only-of-type { display: table; margin: 0.5em auto !important; width: fit-content; }
article figure > table caption { display: table-caption; caption-side: bottom; }
article figure > table + figcaption:before,
article table caption:before {
	color: var(--cemph);
	counter-increment: tab 1;
	content: "Table " counter(tab) ": ";
}

/* headings */
article h2, h3 { 
	text-decoration: underline;
	position: relative; 
}

@media (min-width: 67rem) {
article h2:before,
article h3:before {
	display: inline-block;
	position: relative;
	text-align: right;
	vertical-align: baseline;
	left: -1rem;
	width: 2.5em;
	margin-left: -2.5em;

}
}

article h2:before,
article h3:before {
	font-size: 0.6em;

}

article h1 { counter-set: h2; }
article h2:before { counter-increment: h2; content: counter(h2) ". "; counter-set: h3; }
article h3:before { counter-increment: h3; content: counter(h2) "." counter(h3) ". ";}
/*@media (max-width: 60rem) { h2:before, h3:before { display: none; } }*/

/* tooltip + citation */
article p>cite:before {
	padding: 0 .5em 0 0;
	counter-increment: ref; content: " [" counter(ref) "] ";
	vertical-align: super; font-size: .6em;
}
article p>cite > *:only-child { display: none; }
article p>cite:hover > *:only-child,
[data-tooltip]:hover:before {
	display: inline-block; z-index: 40;
	white-space: pre-wrap;
	position: absolute; left: 1rem; right: 1rem;
	padding: 1em 2em;
	text-align: center;
	transform:translateY( calc(-100%) );
	content: attr(data-tooltip);
	color: var(--cbg);
	background-color: var(--cemph);
	box-shadow: 0 2px 10px 0 black;
}
[data-tooltip], article p>cite:before { 
	color: var(--clink);
	border: .8rem solid transparent; margin: -.8rem;
}
abbr[title], [data-tooltip] { cursor: help; }

/* navbar body>nav, */

nav{
	font-family: "Berkeley Mono Var";
}
header nav+* { margin-top: 3rem; }
header nav {
	width: 100%;
	background-color: var(--clight);
	position: var(--navpos);
	top: 0; left: 0; right: 0;
	z-index: 41;	
	border-bottom: .2rem solid var(--cfg);
	font-size: 1.1em; font-weight: 100;

}
header nav ul { list-style-type: none; }
header nav ul:first-child { margin: 0; padding: 0; overflow: visible; }
header nav ul:first-child > li {
	display: inline-block;
	margin: 0;
	padding: 0.8rem .6rem;
}

header nav ul > li > ul {
	display: none;
	width: auto;
	position: absolute;
	margin: 0.5rem 0;
	padding: 1rem 2rem;
	background-color: var(--clight);
	border: var(--border);
	border-radius: 4px;
	z-index: 42;
}
header nav ul > li > ul > li { white-space: nowrap; }
header nav ul > li:hover > ul { display: block; }

header nav ul:first-child > li:first-child { display: none; } 

@media (max-width: 40rem) {
	header	nav ul:first-child > li:first-child {  display: inline-block;}
	header	nav ul:first-child > li:first-child:after { content: " \25BE"; }
	header	nav ul:first-child > li:not(:first-child):not(.sticky) { display: none; }
	header	nav ul:first-child:hover > li:not(:first-child):not(.sticky) { display: block; float: none !important; }
}

/* details/cards */
summary>* { display: inline; }
.card, details {
	display: block;
	margin: 0.5rem 0rem 1rem;
	padding: 0 .6rem;
	border-radius: 4px;
	overflow: hidden;
}
.card
/*,  details[open]  */
	{	 outline: 1px solid var(--cmed); }

.card>img:first-child 
{ 
	margin: -3px -.6rem; 
	max-width: calc(100% + 1.2rem); 
}

summary:hover,
 details[open] summary, 
 .card>p:first-child {
	box-shadow: inset 0 0 0 2em var(--clight), 0 -.8rem 0 .8rem var(--clight); 
}
.hint { 
	--cmed: var(--cemph); 
	--clight: var(--cemphbg); 
	background-color: var(--clight); }

.warn { --cmed: #c11; 
	--clight: #e221; 
	background-color: var(--clight); 
}

/* big first letter */
/* article > section:first-of-type > h2:first-of-type + p:first-letter,
article > h2:first-of-type + p:first-letter, .lettrine {
	float: left;
	font-size: 3.5em;
	padding: 0.1em 0.1em 0 0;
	line-height: 0.68em;
	color: var(--cemph);
} */

/* ornaments */
section:after {
	display: block;
	margin: 1em 0;
	color: var(--cmed);
	text-align: center;
	font-size: 1.5em;
	content: var(--ornament);
}

/* side menu (aside is not intended for use in a paragraph!) */
main aside {
	position: absolute;
	width: 8rem;      right: -8.6rem;
	font-size: 0.8em; line-height: 1.4em;
}
/*@media (max-width: 70rem) { main aside { display: none; } }*/

/* forms and inputs  */
/* textarea, input:not([type=range]), button, select {
	font: var(--font-h);
	border-radius: 4px;
	border: 1.5px solid var(--cmed);
	padding: 0.4em 0.8em;
	color: var(--cfg);
	background-color: var(--clight);
}
fieldset select, input:not([type=checkbox]):not([type=radio]) {
	display: block;
	width: 100%;
	margin: 0 0 1rem;
} */
button, select {
	font-weight: bold;
	margin: .5em;
	border: 1.5px solid var(--clink);
}
button { padding: 0.4em 1em; font-size: 85%; letter-spacing: 0.1em; }
button[disabled]{ color: var(--cdark); border-color: var(--cmed); }
fieldset { border-radius: 4px; border: var(--border); padding: .5em 1em;}

/* textarea:hover, input:not([type=checkbox]):not([type*='ra']):hover, select:hover{
  border: 1.5px solid var(--cemph);
} */

/* textarea:focus, input:not([type=checkbox]):not([type*='ra']):focus{
	border: 1.5px solid var(--clink);
	box-shadow: 0 0 5px var(--clink);
} */
p>button { padding: 0 .5em; margin: 0 .5em; }
p>select { padding: 0;      margin: 0 .5em; }


/* 5. Bootstrap-compatible classes ––––––––––––––––––––– */

/* grid */
.row { display: flex; margin:  0.5rem -0.6rem; align-items: stretch; }
.row [class*="col"] { padding: 0  0.6rem; }
.row .col   { flex: 1 1 100%; }
.row .col-2 { flex: 0 0 16.66%; max-width: 16.66%;}
.row .col-3 { flex: 0 0 25%; max-width: 25%;}
.row .col-4 { flex: 0 0 33.33%; max-width: 33.33%; }
.row .col-5 { flex: 0 0 41.66%; max-width: 41.66%; }
.row .col-6 { flex: 0 0 50%; max-width: 50%; }
@media (max-width: 40rem) { .row { flex-direction: column; } }

/* align */
.text-left   { text-align: left; }
.text-right  { text-align: right; }
.text-center { text-align: center; }
.float-left  { float: left !important; }
.float-right { float: right !important; }
.clearfix    { clear: both; }

/* colors */
.text-black    { color: #000; }
.text-white    { color: #fff; }
.text-primary  { color: var(--cemph); }
.text-secondary{ color: var(--cdark); }
.bg-white    { background-color: #fff; }
.bg-light    { background-color: var(--clight); }
.bg-primary  { background-color: var(--cemph); }
.bg-secondary{ background-color: var(--cmed); }

/* margins */
.mx-auto { margin-left: auto; margin-right: auto; }
.m-0 { margin: 0 !important; }
.m-1, .mx-1, .mr-1 { margin-right:  1.0rem !important; }
.m-1, .mx-1, .ml-1 { margin-left:   1.0rem !important; }
.m-1, .my-1, .mt-1 { margin-top:    1.0rem !important; }
.m-1, .my-1, .mb-1 { margin-bottom: 1.0rem !important; }

/* pading */
.p-0 { padding: 0 !important; }
.p-1, .px-1, .pr-1 { padding-right:  1.0rem !important; }
.p-1, .px-1, .pl-1 { padding-left:   1.0rem !important; }
.p-1, .py-1, .pt-1 { padding-top:    1.0rem !important; }
.p-1, .py-1, .pb-1 { padding-bottom: 1.0rem !important; }

/* be print-friendly */
@media print { 
	@page { margin: 1.5cm 2cm; } 
	html {font-size: 9pt!important; } 
	body { max-width: 27cm; }
	p { orphans: 2; widows: 2; }
	caption, figcaption { page-break-before: avoid; }
	h2, h3, h4, h5 { page-break-after: avoid;}
	.noprint, body>nav, section:after { display: none; }
	.row { flex-direction: row; }
}


/* math */

math {
	padding: 1rem 0;
    overflow: auto hidden;
	font-family:FiraMath,  math,sans-serif,serif;
	max-width: 100%;
}

 .inlinemath math{
	padding: unset;
}



/* .katex-display { overflow: auto hidden }
.katex-display > .katex { white-space: normal } */
/* Add space between broken lines: */
/* .katex-display > .base { margin: 0.25em 0 } */
/* Compensate by reducing space around display math */
/* .katex-display { margin: 0.5em 0; } */



/*concrete.css */
img {
/*	max-width: 100%;*/
	max-height: var(--width); /* 1 */
	height: auto; /* 2 */
  }
  
  /** 
   * 1. Center the main element horizontally.
   * 2. Set the width of the element to 640px, with padding for mobile screens.
   */
  
	main {
		margin: auto; /* 1 */
		}

	main, header h1 {
		max-width: var(--width);; /* 2 */
		width: 100%; /* 2 */

		padding: 0 .5rem; /* 2 */
	}
	header h1 {
	margin-left: auto;
	margin-right: auto;
	}

  /**
   * 1. Add some padding around the header.
   * 2. Increase the size of text in the header.
   */
  
  /* header { 
	font-size: 1.2rem;
  }
   */
  /**
   * Center the text in the footer.
   */
  
  footer {
	text-align: center;
  }
  
  /**
   * Add some padding around the sections.
   */
  
  section {
	padding: 4rem 0;
  }
  
  /**
   * 1. Change the style of the button.
   * 2. Set the color and border of the button.
   * 3. Add the pointer cursor when hovering a button.
   */
  
  button,
  input[type="button"],
  input[type="reset"],
  input[type="submit"] {
	display: inline-block; /* 1 */
	vertical-align: middle; /* 1 */
	padding: .4rem 1rem; /* 1 */
	font-size: 2rem; /* 1 */
	font-weight: normal; /* 1 */
	margin-bottom: 1rem; /* 1 */
	background: var(--cbg); /* 2 */
	color: var(--cfg); /* 2 */
	border: .2rem solid var(--cfg); /* 2 */
	border-radius: 0; /* 2 */
	cursor: pointer; /* 3 */
  }
  
  /**
   * 1. Set the border of a disabled button to be dashed.
   * 2. Add the not-allowed cursor when hovering a disabled button.
   */
  
  button:disabled,
  input[type="button"]:disabled,
  input[type="reset"]:disabled,
  input[type="submit"]:disabled{
	border-style: dashed; /* 1 */
	cursor: not-allowed; /* 2 */ 
  }
  
  /**
   * Set the list bullet to square.
   */
  
  ul {
	list-style: square;
  }
  
  /**
   * Set the border around a fieldset.
   */
  
  fieldset {
	border: .2rem solid var(--cfg);
  }
  
  /**
   * 1. Modify the display of labels and legends.
   * 2. Add a margin underneath.
   */
  
  label, legend {
	display: block; /* 1 */
	font-weight: bold; /* 1 */
	margin-bottom: .8rem; /* 2 */
  }
  
  /** 
   * 1. Change the appearance of the text input.
   * 2. Set the color and border of the text input.
   */
  
 input[type="email"],
  input[type="number"],
  input[type="password"],
  input[type="search"],
  input[type="tel"],
  input[type="text"],
  input[type="url"],
  textarea,
  select {
	-webkit-appearance: none; /* 1 */
	-moz-appearance: none; /* 1 */
	appearance: none; /* 1 */
	box-shadow: none; /* 1 */
	box-sizing: inherit; /* 1 */
	padding: .4rem 1rem; /* 1 */
	width: 100%; /* 1 */
	font-size: 2rem; /* 1 */
	color: var(--cfg); /* 2 */
	background-color: var(--cbg); /* 2 */
	border: .2rem solid var(--cfg); /* 2 */
	border-radius: 0; /* 2 */
  }
   
  
  fieldset, input, select, textarea {
	margin: 0 0 1.6rem 0;
  }
  
  /**
   * 1. Set the font color for the placeholder in inputs.
   * 2. Set font-style to italic for the placeholder in inputs.
   */
  
  input::placeholder,
  textarea::placeholder {
	color: var(--cfg); /* 1 */
	font-style: italic; /* 2 */
  }
  
  /**
   * 1. Expand width to 100% for the table element.
   * 2. Remove the distance between the borders of adjacent table cells.
   */
  
  table {
	width: 100%; /* 1 */
	border-spacing: 0; /* 2 */
  }
  
  /**
   * Add padding around table cells.
   */
  
  td, th {
	padding: .8rem;
  }
  
  /**
   * Remove left padding for first cell in a row.
   */
  
  td:first-child, th:first-child {
	padding-left: 0;
  }
  
  /**
   * Remove right padding for last cell in a row.
   */
  
  td:last-child, th:last-child {
	padding-right: 0;
  }
  
  /**
   * 1. Add a border under the table header.
   * 2. Align the text to the left in the table header.
   */
  
  th {
	border-bottom: .2rem solid var(--cfg); /* 1 */
	text-align: left; /* 2 */
  }
  
  /**
   * Add a thiner border under table rows.
   */
  
  td {
	border-bottom: .1rem solid var(--cfg);
  }
  

  #TableOfContents:empty{
	display: none;
  } 
  /**
   * 1. Change the margins and padding.
   * 2. Add a border on the left of these elements.
   * 3. Set the y overflow to hidden to hide the navigation bar.
   */
  
  /* blockquote, pre { */
	blockquote , #TableOfContents {
	margin-left: 0; /* 1 */
	margin-right: 0; /* 1 */
	padding: 1rem 1.6rem; /* 1 */
	border-left: .2rem solid var(--cfg); /* 2 */
	overflow-y: hidden; /* 3 */
  }
  
  /**
   * 1. Set the rest of the border of the preformatted element to dotted.
   * 2. Re-set the left border style.
   */
  
  /* pre {
	border: 0.1rem dotted var(--cfg);
	border-left: 0.2rem solid var(--cfg);
  } */
  
  /**
   * 1. Modify the display of the code block.
   * 2. Reduce the font size of the code block.
   */
  
  pre > code {
	white-space: pre; /* 1 */
	display: block; /* 1 */
	overflow-x: hidden;
    width: fit-content;
  }

  .chroma{
	overflow-x: hidden;
    width: fit-content;
	margin: 0;
  }

  .highlight{
	overflow-x: auto;
  }
  
  .terminalIcon::after, .alert-heading::after{
	animation: blink-animation 2s infinite both;
  }
  .terminalIcon::after{
	content: "_";
  }

  .terminalIcon:focus::after{
	content: "";
  }

  
  .terminalIcon{
	
	caret-shape: block;
  }

  .codelang::before, .codelang::after{
	font-stretch: condensed;
  }
  .terminalIcon::before{
	content: "〉";
  }
  

  .codeIcon::before{
	content: "<";
  }

  .codeIcon::after{
	content: "/>";
  }

  .codelang {
	color: var(--cemph);
	opacity: 0.8;
	font-weight: 150;
  }
  /**
   * 1. Modify the display of the progress bar in all browsers.
   * 2. Set the colors and border of the progress bar.
 	background: var(--cbg); 
	 color: var(--cfg); 
	 border: .2rem solid var(--cfg); 
 


	   progress[value]::-webkit-progress-bar {
	background-color: red;
	border-radius: 2px;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
  }
   */
  
  progress {
	 -moz-appearance: none; 
	 -webkit-appearance: none;
	 appearance: none;
	display: block; /* 1 */
	height: 1rem; /* 1 */
	overflow: hidden; /* 1 */
	padding: 0; /* 1 */
	width: 100%; /* 1 */

	border-radius: 0; /* 2 */
  }



   progress:not([value]) {
	background: var(--cbg);
	color: var(--cfg); 
 }
  
  
  /**
   * Set the background color of the webkit progress bar.
   */
  
  /* progress::-webkit-progress-bar {
	background-color: var(--cfg);
  } */
  
  /**
   * Set the color of the webkit progress bar.
   */
  
  /* progress::-webkit-progress-value {
	background-color: var(--cfg);
  } */
  
  /**
   * Set the color of the mozilla progress bar.
   */
  
  /* progress::-moz-progress-bar {
	background-color: var(--cfg);
  }

  progress:not([value]) {
	background-color: var(--cbg);
 } */
  
  /**
   * Set the border for the horizontal rule.
   */
  
  hr {
	margin: 2rem 8px;
    height: .15rem;
    border-width: 0;
    color: var(--cfg);
    background-color: var(--cfg);
  }

  figcaption{
	text-align: center;
	font-style: italic;
  }

  .lite-youtube-container, figure{
	border: 2px solid var(--cfg);
	padding: .5rem;
  }

  .time-container{
	font-style:italic;
    display: flex;
    justify-content: space-between;
  }

.footnote-ref::after{
	content: "]";
}

.footnote-ref::before{
	content: "[";
}


.alert{
	border-left: .4rem solid;
	color: var(--alert-text);
}


.alert-note {
	border-left-color:var(--blue);
	background:var(--c-blue);
	--alert-title: var(--t-blue);
}
.alert-warning {
	--alert-title:var(--t-red);
	border-left-color: var(--red);
	background:var(--c-red);
	
}
.alert-caution {
	--alert-title:var(--t-yellow);
	border-left-color: var(--yellow);
	background:var(--c-yellow)
}

.alert-tip{
	border-left-color:var(--green);
	background:var(--c-green);
	--alert-title: var(--t-green) 
}

.alert-important{
	border-left-color:var(--violet);
	background:var(--c-violet);
	--alert-title: var(--t-violet);
}


.alert-heading{
	color: var(--alert-title);
	font-weight: bold;
}

/* .notification-warning .blocktitle::after{
	content: "❕";
}
.notification-success .blocktitle::after{
	content: "✔️";
}
.notification-danger .blocktitle::after{
	content: "❌";
}
.notification-info .blocktitle::after{
	content: "ℹ️";
} */

code:not(.codeblock code){
	font-style: italic;
	/* text-underline-offset: 0.2em; */
	/* text-decoration:  underline var(--cemph) dotted 2px; */
}
 summary{
	user-select: none;
	background-color: var(--cbg);
}
 .codeblock summary{
	background-color: var(--cbg);
 }
 
.codeblock summary::marker{
	display: none; 
	content: "";
} 

dialog {
	width: 80%;
	margin: auto;
}
 ::backdrop {
	background-color: #aaaaaa;
	opacity: 0.75;
} 

.dialogimg{
	max-width:unset;
	max-height:unset;
	display:block;
	user-select: none;
}

.dialogimg-ev{
	height: 90vh;
    width: auto;
}

.dialogimg-eh{
	height: 90vh;;
    width: auto;
}

/* .dialogcontainer-ev{

} */

.dialogcontainer-eh{
	width: fit-content;
}

.searchbutton{
	aspect-ratio: 1/1;
	font-size: 1em;
	filter: grayscale(1);
	
}

.flex-h{
	display: flex;
}

.flex-h > input {
	height: 2.2em;
	font-size: 1.5em;
}

footer nav ul{
	padding: 0;
	display: flex;
	justify-content: space-evenly;
    align-items: stretch;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: stretch;
	list-style-type: none;
	
}

footer nav li a {
    text-align: center;
    display: block;
    /* color: red; */
}

footer nav li{
	
    flex: 1;
}

footer{
	max-width: var(--width);
	width: 100%;
    padding: 0 .5rem;
	margin: auto;
}

.archive,.yeargroup{
	list-style-type: none;
	padding-left: 0;
}
.archive time{
	
	font-family: monospace;
}
/* .yeargroup time{
	text-decoration: underline dotted var(--cemph);
    text-underline-position: under;
} */
/* 
.yeargroup:not(:last-child)::after{

	display: block;
	margin: .1em 0;
	color: var(--cmed);
	text-align: center;
	font-size: 1.5em;
	content: var(--ornament);
} */

.yeargroup:not(:last-child){
	border-bottom: .2rem solid var(--cfg);

}

.yeargroup{
	padding: 2rem 0;
}

#search-input:placeholder-shown{
	font-style: italic;
	color: var(--clink);
	font-weight: lighter;
}


.footnotes li:target , article sup:target a {
	background: color-mix(in oklab , var(--cemph) 65%, var(--cfg));
	color: var(--cbg);
	/* opacity: 0.8; */
}

.footnotes li::marker{
    color: var(--cfg);
}

.footnotes li:target a {
	color: var(--clight);
}

.popover::backdrop{
	background-color:unset;
	opacity: unset;
	backdrop-filter: blur(10px);


}

.popover:popover-open {
    width: 300px;
    height: 200px;
    padding: 0 10px;
    border-radius: 10px;
	margin: auto;
  }

.ligthversion{
	display: var(--ligthvisibility);
}

.darkversion{
	display: var(--darkvisibility);
}

#TableOfContents li::marker{
	content: "↪ ";
}

article h1 {
	text-decoration: underline;
}

.blockquote-caption{
	text-align: right;
	font-style: italic;
}

.blockquote-caption::before {
	content: '-';
  }


.bitsInfo{
	display: flex;
	/* flex-direction: row-reverse; */
	margin-bottom: 2rem;
}

.bitsTags {
	margin-top: 2rem;
	display: flex;
}

.bitsTags a{
	margin-left: 1rem;
}

.bithr {
	height: .1px;
	opacity: 0.6;
}
/* h2, h3, h4, h5 {
	display: inline;
} */
