{{ define "main" }}
  <article class="h-feed">
    {{ .Content }}
    <ul class="archive">
    {{ $pages := ( where .Site.RegularPages "Section" "posts")  }}
    {{ $bits := ( where .Site.RegularPages "Section" "bits")  }}
    {{ $isFirst := true }}
    {{ range ( append $bits $pages  ).GroupByDate "2006" }}
      <details class="yeargroup" {{if $isFirst }}open{{ end }} name="archive-feed"> 
        {{- $isFirst = false }}
        <summary>{{ .Key }}</summary>
          {{/*  {{ range .Pages }}
            <li ><time content="{{ .Date.Format "2006-01-02"}}" >[{{ .Date.Format "2006/01/02" }}]</time>
            <a href="{{ .RelPermalink }}" class="permalink">{{ .Title }}</a>
            </li>
          {{ end }}  */}}

          {{ range .Pages }}
          {{ $partialPath :=  printf "_partials/content/%s/archive.html" .Section }}
          {{ if templates.Exists ( $partialPath ) }}
            {{ $partialPathClean :=  printf "content/%s/archive.html" .Section }}
            {{ partial $partialPathClean . }}
          {{ else }}
              {{ partial "_partials/content/archive.html" . }}
          {{ end }}
          {{ end }}
        </details>
    {{ end }}
    </ul>
  </article>
{{ end }}