/* Width font families — only Normal loaded by default */
 @font-face {
	 font-family: "Ioskeley Mono";
	 src: url("subset/IoskeleyMonoNL-ExtraLight.subset.woff2") format("woff2");
	 font-weight: 200;
	 font-style: normal;
	 font-display: swap;
     unicode-range: U+0000-00FF,U+0121-02DC,U+0131,U+0152-0153,U+2013-2014,U+2018-201F,U+2020-2026,U+2032-203A,U+20AC-2212;
}
 @font-face {
	 font-family: "Ioskeley Mono";
	 src: url("subset/IoskeleyMonoNL-Light.subset.woff2") format("woff2");
	 font-weight: 300;
	 font-style: normal;
	 font-display: swap;
     unicode-range: U+0000-00FF,U+0121-02DC,U+0131,U+0152-0153,U+2013-2014,U+2018-201F,U+2020-2026,U+2032-203A,U+20AC-2212;
}
 @font-face {
	 font-family: "Ioskeley Mono";
	 src: url("subset/IoskeleyMonoNL-Regular.subset.woff2") format("woff2");
	 font-weight: 400;
	 font-style: normal;
	 font-display: swap;
     unicode-range: U+0000-00FF,U+0121-02DC,U+0131,U+0152-0153,U+2013-2014,U+2018-201F,U+2020-2026,U+2032-203A,U+20AC-2212;
}
 @font-face {
	 font-family: "Ioskeley Mono";
	 src: url("subset/IoskeleyMonoNL-Medium.subset.woff2") format("woff2");
	 font-weight: 500;
	 font-style: normal;
	 font-display: swap;
     unicode-range: U+0000-00FF,U+0121-02DC,U+0131,U+0152-0153,U+2013-2014,U+2018-201F,U+2020-2026,U+2032-203A,U+20AC-2212;
}
 @font-face {
	 font-family: "Ioskeley Mono";
	 src: url("subset/IoskeleyMonoNL-SemiBold.subset.woff2") format("woff2");
	 font-weight: 600;
	 font-style: normal;
	 font-display: swap;
     unicode-range: U+0000-00FF,U+0121-02DC,U+0131,U+0152-0153,U+2013-2014,U+2018-201F,U+2020-2026,U+2032-203A,U+20AC-2212;
}
 @font-face {
	 font-family: "Ioskeley Mono";
	 src: url("subset/IoskeleyMonoNL-Bold.subset.woff2") format("woff2");
	 font-weight: 700;
	 font-style: normal;
	 font-display: swap;
     unicode-range: U+0000-00FF,U+0121-02DC,U+0131,U+0152-0153,U+2013-2014,U+2018-201F,U+2020-2026,U+2032-203A,U+20AC-2212;
}
 @font-face {
	 font-family: "Ioskeley Mono";
	 src: url("subset/IoskeleyMonoNL-Italic.subset.woff2") format("woff2");
	 font-weight: 400;
	 font-style: italic;
	 font-display: swap;
     unicode-range: U+0000-00FF,U+0121-02DC,U+0131,U+0152-0153,U+2013-2014,U+2018-201F,U+2020-2026,U+2032-203A,U+20AC-2212;
}
 @font-face {
	 font-family: "Ioskeley Mono";
	 src: url("subset/IoskeleyMonoNL-MediumItalic.subset.woff2") format("woff2");
	 font-weight: 500;
	 font-style: italic;
	 font-display: swap;
     unicode-range: U+0000-00FF,U+0121-02DC,U+0131,U+0152-0153,U+2013-2014,U+2018-201F,U+2020-2026,U+2032-203A,U+20AC-2212;
}
 @font-face {
	 font-family: "Ioskeley Mono";
	 src: url("subset/IoskeleyMonoNL-SemiBoldItalic.subset.woff2") format("woff2");
	 font-weight: 600;
	 font-style: italic;
	 font-display: swap;
     unicode-range: U+0000-00FF,U+0121-02DC,U+0131,U+0152-0153,U+2013-2014,U+2018-201F,U+2020-2026,U+2032-203A,U+20AC-2212;
}
 @font-face {
	 font-family: "Ioskeley Mono";
	 src: url("subset/IoskeleyMonoNL-BoldItalic.subset.woff2") format("woff2");
	 font-weight: 700;
	 font-style: italic;
	 font-display: swap;
     unicode-range: U+0000-00FF,U+0121-02DC,U+0131,U+0152-0153,U+2013-2014,U+2018-201F,U+2020-2026,U+2032-203A,U+20AC-2212;
 }
/* 
 @font-face {
	 font-family: "Ioskeley Mono SC";
	 src: url("subset/IoskeleyMonoNL-SemiCondensedExtraLight.subset.woff2") format("woff2");
	 font-weight: 200;
	 font-style: normal;
	 font-display: swap;
     unicode-range: U+0000-00FF,U+0121-02DC,U+0131,U+0152-0153,U+2013-2014,U+2018-201F,U+2020-2026,U+2032-203A,U+20AC-2212;
}
 @font-face {
	 font-family: "Ioskeley Mono SC";
	 src: url("subset/IoskeleyMonoNL-SemiCondensedLight.subset.woff2") format("woff2");
	 font-weight: 300;
	 font-style: normal;
	 font-display: swap;
     unicode-range: U+0000-00FF,U+0121-02DC,U+0131,U+0152-0153,U+2013-2014,U+2018-201F,U+2020-2026,U+2032-203A,U+20AC-2212;
}
 @font-face {
	 font-family: "Ioskeley Mono SC";
	 src: url("subset/IoskeleyMonoNL-SemiCondensed.subset.woff2") format("woff2");
	 font-weight: 400;
	 font-style: normal;
	 font-display: swap;
     unicode-range: U+0000-00FF,U+0121-02DC,U+0131,U+0152-0153,U+2013-2014,U+2018-201F,U+2020-2026,U+2032-203A,U+20AC-2212;
}
 @font-face {
	 font-family: "Ioskeley Mono SC";
	 src: url("subset/IoskeleyMonoNL-SemiCondensedMedium.subset.woff2") format("woff2");
	 font-weight: 500;
	 font-style: normal;
	 font-display: swap;
     unicode-range: U+0000-00FF,U+0121-02DC,U+0131,U+0152-0153,U+2013-2014,U+2018-201F,U+2020-2026,U+2032-203A,U+20AC-2212;
}
 @font-face {
	 font-family: "Ioskeley Mono SC";
	 src: url("subset/IoskeleyMonoNL-SemiCondensedSemiBold.subset.woff2") format("woff2");
	 font-weight: 600;
	 font-style: normal;
	 font-display: swap;
     unicode-range: U+0000-00FF,U+0121-02DC,U+0131,U+0152-0153,U+2013-2014,U+2018-201F,U+2020-2026,U+2032-203A,U+20AC-2212;
}
 @font-face {
	 font-family: "Ioskeley Mono SC";
	 src: url("subset/IoskeleyMonoNL-SemiCondensedBold.subset.woff2") format("woff2");
	 font-weight: 700;
	 font-style: normal;
	 font-display: swap;
     unicode-range: U+0000-00FF,U+0121-02DC,U+0131,U+0152-0153,U+2013-2014,U+2018-201F,U+2020-2026,U+2032-203A,U+20AC-2212;
}
 @font-face {
	 font-family: "Ioskeley Mono SC";
	 src: url("subset/IoskeleyMonoNL-SemiCondensedItalic.subset.woff2") format("woff2");
	 font-weight: 400;
	 font-style: italic;
	 font-display: swap;
     unicode-range: U+0000-00FF,U+0121-02DC,U+0131,U+0152-0153,U+2013-2014,U+2018-201F,U+2020-2026,U+2032-203A,U+20AC-2212;
}
 @font-face {
	 font-family: "Ioskeley Mono SC";
	 src: url("subset/IoskeleyMonoNL-SemiCondensedMediumItalic.subset.woff2") format("woff2");
	 font-weight: 500;
	 font-style: italic;
	 font-display: swap;
     unicode-range: U+0000-00FF,U+0121-02DC,U+0131,U+0152-0153,U+2013-2014,U+2018-201F,U+2020-2026,U+2032-203A,U+20AC-2212;
}
 @font-face {
	 font-family: "Ioskeley Mono SC";
	 src: url("subset/IoskeleyMonoNL-SemiCondensedSemiBoldItalic.subset.woff2") format("woff2");
	 font-weight: 600;
	 font-style: italic;
	 font-display: swap;
     unicode-range: U+0000-00FF,U+0121-02DC,U+0131,U+0152-0153,U+2013-2014,U+2018-201F,U+2020-2026,U+2032-203A,U+20AC-2212;
}
 @font-face {
	 font-family: "Ioskeley Mono SC";
	 src: url("subset/IoskeleyMonoNL-SemiCondensedBoldItalic.subset.woff2") format("woff2");
	 font-weight: 700;
	 font-style: italic;
	 font-display: swap;
     unicode-range: U+0000-00FF,U+0121-02DC,U+0131,U+0152-0153,U+2013-2014,U+2018-201F,U+2020-2026,U+2032-203A,U+20AC-2212;
}
 @font-face {
	 font-family: "Ioskeley Mono C";
	 src: url("subset/IoskeleyMonoNL-ExtraLight.subset.woff2") format("woff2");
	 font-weight: 200;
	 font-style: normal;
	 font-display: swap;
     unicode-range: U+0000-00FF,U+0121-02DC,U+0131,U+0152-0153,U+2013-2014,U+2018-201F,U+2020-2026,U+2032-203A,U+20AC-2212;
}
 @font-face {
	 font-family: "Ioskeley Mono C";
	 src: url("subset/IoskeleyMonoNL-Light.subset.woff2") format("woff2");
	 font-weight: 300;
	 font-style: normal;
	 font-display: swap;
     unicode-range: U+0000-00FF,U+0121-02DC,U+0131,U+0152-0153,U+2013-2014,U+2018-201F,U+2020-2026,U+2032-203A,U+20AC-2212;
}
 @font-face {
	 font-family: "Ioskeley Mono C";
	 src: url("subset/IoskeleyMonoNL-.subset.woff2") format("woff2");
	 font-weight: 400;
	 font-style: normal;
	 font-display: swap;
     unicode-range: U+0000-00FF,U+0121-02DC,U+0131,U+0152-0153,U+2013-2014,U+2018-201F,U+2020-2026,U+2032-203A,U+20AC-2212;
}
 @font-face {
	 font-family: "Ioskeley Mono C";
	 src: url("subset/IoskeleyMonoNL-Medium.subset.woff2") format("woff2");
	 font-weight: 500;
	 font-style: normal;
	 font-display: swap;
     unicode-range: U+0000-00FF,U+0121-02DC,U+0131,U+0152-0153,U+2013-2014,U+2018-201F,U+2020-2026,U+2032-203A,U+20AC-2212;
}
 @font-face {
	 font-family: "Ioskeley Mono C";
	 src: url("subset/IoskeleyMonoNL-SemiBold.subset.woff2") format("woff2");
	 font-weight: 600;
	 font-style: normal;
	 font-display: swap;
     unicode-range: U+0000-00FF,U+0121-02DC,U+0131,U+0152-0153,U+2013-2014,U+2018-201F,U+2020-2026,U+2032-203A,U+20AC-2212;
}
 @font-face {
	 font-family: "Ioskeley Mono C";
	 src: url("subset/IoskeleyMonoNL-Bold.subset.woff2") format("woff2");
	 font-weight: 700;
	 font-style: normal;
	 font-display: swap;
     unicode-range: U+0000-00FF,U+0121-02DC,U+0131,U+0152-0153,U+2013-2014,U+2018-201F,U+2020-2026,U+2032-203A,U+20AC-2212;
}
 @font-face {
	 font-family: "Ioskeley Mono C";
	 src: url("subset/IoskeleyMonoNL-Italic.subset.woff2") format("woff2");
	 font-weight: 400;
	 font-style: italic;
	 font-display: swap;
     unicode-range: U+0000-00FF,U+0121-02DC,U+0131,U+0152-0153,U+2013-2014,U+2018-201F,U+2020-2026,U+2032-203A,U+20AC-2212;
}
 @font-face {
	 font-family: "Ioskeley Mono C";
	 src: url("subset/IoskeleyMonoNL-MediumItalic.subset.woff2") format("woff2");
	 font-weight: 500;
	 font-style: italic;
	 font-display: swap;
     unicode-range: U+0000-00FF,U+0121-02DC,U+0131,U+0152-0153,U+2013-2014,U+2018-201F,U+2020-2026,U+2032-203A,U+20AC-2212;
}
 @font-face {
	 font-family: "Ioskeley Mono C";
	 src: url("subset/IoskeleyMonoNL-SemiBoldItalic.subset.woff2") format("woff2");
	 font-weight: 600;
	 font-style: italic;
	 font-display: swap;
     unicode-range: U+0000-00FF,U+0121-02DC,U+0131,U+0152-0153,U+2013-2014,U+2018-201F,U+2020-2026,U+2032-203A,U+20AC-2212;
}
 @font-face {
	 font-family: "Ioskeley Mono C";
	 src: url("subset/IoskeleyMonoNL-BoldItalic.subset.woff2") format("woff2");
	 font-weight: 700;
	 font-style: italic;
	 font-display: swap;
     unicode-range: U+0000-00FF,U+0121-02DC,U+0131,U+0152-0153,U+2013-2014,U+2018-201F,U+2020-2026,U+2032-203A,U+20AC-2212;
}
  */

   @font-face {
	 font-family: "Ioskeley Mono";
	 src: url("extended-subset/IoskeleyMonoNL-ExtraLight.subset.woff2") format("woff2");
	 font-weight: 200;
	 font-style: normal;
	 font-display: swap;
     unicode-range: U+00FF-FFFF;
}
 @font-face {
	 font-family: "Ioskeley Mono";
	 src: url("extended-subset/IoskeleyMonoNL-Light.subset.woff2") format("woff2");
	 font-weight: 300;
	 font-style: normal;
	 font-display: swap;
     unicode-range: U+00FF-FFFF;
}
 @font-face {
	 font-family: "Ioskeley Mono";
	 src: url("extended-subset/IoskeleyMonoNL-Regular.subset.woff2") format("woff2");
	 font-weight: 400;
	 font-style: normal;
	 font-display: swap;
     unicode-range: U+00FF-FFFF;
}
 @font-face {
	 font-family: "Ioskeley Mono";
	 src: url("extended-subset/IoskeleyMonoNL-Medium.subset.woff2") format("woff2");
	 font-weight: 500;
	 font-style: normal;
	 font-display: swap;
     unicode-range: U+00FF-FFFF;
}
 @font-face {
	 font-family: "Ioskeley Mono";
	 src: url("extended-subset/IoskeleyMonoNL-SemiBold.subset.woff2") format("woff2");
	 font-weight: 600;
	 font-style: normal;
	 font-display: swap;
     unicode-range: U+00FF-FFFF;
}
 @font-face {
	 font-family: "Ioskeley Mono";
	 src: url("extended-subset/IoskeleyMonoNL-Bold.subset.woff2") format("woff2");
	 font-weight: 700;
	 font-style: normal;
	 font-display: swap;
     unicode-range: U+00FF-FFFF;
}
 @font-face {
	 font-family: "Ioskeley Mono";
	 src: url("extended-subset/IoskeleyMonoNL-Italic.subset.woff2") format("woff2");
	 font-weight: 400;
	 font-style: italic;
	 font-display: swap;
     unicode-range: U+00FF-FFFF;
}
 @font-face {
	 font-family: "Ioskeley Mono";
	 src: url("extended-subset/IoskeleyMonoNL-MediumItalic.subset.woff2") format("woff2");
	 font-weight: 500;
	 font-style: italic;
	 font-display: swap;
     unicode-range: U+00FF-FFFF;
}
 @font-face {
	 font-family: "Ioskeley Mono";
	 src: url("extended-subset/IoskeleyMonoNL-SemiBoldItalic.subset.woff2") format("woff2");
	 font-weight: 600;
	 font-style: italic;
	 font-display: swap;
     unicode-range: U+00FF-FFFF;
}
 @font-face {
	 font-family: "Ioskeley Mono";
	 src: url("extended-subset/IoskeleyMonoNL-BoldItalic.subset.woff2") format("woff2");
	 font-weight: 700;
	 font-style: italic;
	 font-display: swap;
     unicode-range: U+00FF-FFFF;
 }