{{ define "headHook"}}
    {{ partial "head/tabbed_details.html" }}
{{ end }}


{{ define "main" }}
    {{ .Content }}

    {{/*  Inspired by https://css-tricks.com/pure-css-tabs-with-details-grid-and-subgrid/  */}}
    {{ $taxonomyObject := .Data.Terms }}
    <div class="tabbed-summary-grid">
    <details open name="sorting"  style="--n: 1">
        <summary  class="tabbed-summary">Alphabetical</summary>
        <ul class="no-bullets single-line">
        {{- range $taxonomyObject.Alphabetical}}
            <li>
            <a href="{{ .Page.RelPermalink }}" class="u-url  p-summary permalink">#{{ .Page.LinkTitle }}</a>
            </li>
        {{- end }}
        </ul>
    </details>

    <details name="sorting" style="--n: 2">
        <summary class="tabbed-summary">By Count</summary>
        <ul class="no-bullets single-line">
 
        {{- range $taxonomyObject.ByCount }}
            <li>
            <a href="{{ .Page.RelPermalink }}" class="u-url  p-summary permalink">#{{ .Page.LinkTitle }} ({{ .Count }})</a>
            </li>
        {{- end }}
        </ul>
    </details>
    </div>
{{ end }}