{{ $image := .Page.Resources.GetMatch .Destination }}
{{ $uniqueId := $image.Content | hash.XxHash }}
{{ $used:= $image}}

{{ $modern_src := "" }}
{{ $modern_srcfit := "" }}
{{ $universal_src := "" }}
{{ $modern_src2 := "" }}
{{ $universal_src2 := "" }}
{{ $universal_720  := ""  }}
{{ $modern_src720 := "" }}
{{ $usedsrc:= $image }}
{{ $animated := false }}
{{ $colors := "" }}


{{ $sizesInt := slice "720" "1440" "1920"}}

{{ $SmartSizes := slice }}
{{ range $sizesInt }}
  {{ if lt . $image.Width }}
   {{  $SmartSizes = $SmartSizes | append .  }}
  {{ else }}
    {{ if not ( in $SmartSizes $image.Width )}}
     {{  $SmartSizes = $SmartSizes | append ( string $image.Width) }}
    {{ end}}
  {{ end }}
{{ end }}

{{ $modern_opt := dict 
  "format" "webp"
  "resize_opt" "q70 webp"
}}
{{ $universal_opt := dict 
  "format" "jpeg"
  "resize_opt" "q65 jpeg"
}}

{{ $modern_animated_opt := dict 
  "format" "webp"
  "resize_opt" "q70 webp"
}}
{{ $universal_animated_opt := dict 
  "format" "gif"
  "resize_opt" "q65 gif"
}}

 {{ $codec := slice  }}

{{ if ne $image.MediaType.SubType  "gif"  }}
 {{ $codec = slice $modern_opt $universal_opt }}
  {{ $universal_720 = ($image.Resize "720x jpg" ) }}
  {{ $universal_src = $universal_720.RelPermalink }}
  {{ $colors = $universal_720.Colors }}
  {{/*  {{ $usedsrc = $universal_src}}
  
  {{ $modern_src = ($image.Process "modern_src q95" ).RelPermalink }}  */}}
{{ else }}
 {{ $codec = slice $modern_animated_opt $universal_animated_opt }}
  {{ $universal_720 = ($image.Resize "720x gif" ) }}
  {{ $universal_src = $universal_720.RelPermalink }}
  {{ $colors = $universal_720.Colors }}
  {{/*  {{ $usedsrc = $universal_src}}
  {{ $colors = $universal_720.Colors }}
  {{ $modern_src = ($image.Process "modern_src q95" ).RelPermalink }}  */}}
  {{/*  {{ $usedsrc = $image.RelPermalink  }}  */}}
  {{ $animated = true  }}
{{ end }}

<figure>
{{/*  {{- with .Title}}   <div class="title-img">{{ . }}</div> {{ end -}}  */}}
<picture>

  {{/*  {{ if ne $image.MediaType.SubType  "gif"  }}  */}}
   {{/*  <p>{{ printf "%s" $SmartSizes }}</p>    */}}
    {{ range $codec }}
     {{ $codecOpt := (index .  "resize_opt" )  }}
      <source 
      type={{- printf "image/%s" (index . "format") }}
      srcset = "{{- range $SmartSizes }}
        {{- ($image.Resize (printf "%sx %s" . $codecOpt )).RelPermalink }} {{ (printf "%sw," .)}}
      {{- end }}"
      > 
    {{ end}}
  {{/*  {{ else }}
    {{ $usedsrc = $image.RelPermalink  }}
    {{ $animated = true  }}
  {{ end }}  */}}
     
    <img 
    class="post-img u-photo" 
    src="{{ $universal_src }}"   
    {{ with .Text}}  alt="{{  plainify  . | safeHTML}}" {{ end }} 
    {{/*  {{ with .Title}} title="{{  plainify  . | safeHTML}}"{{ end }}   */}}
    loading="lazy"
    width="{{$used.Width}}" 
    height="{{$used.Height}}"
    onclick="openLightbox(this, {{ $uniqueId  }} )"

    style="
    background-image:
    linear-gradient(to bottom right, {{- delimit $colors ", "   }} );
    "
    />
  </picture>
    <!--<a href="{{ .Destination | safeURL }}" target="_blank"  class="fullscreen-container" aria-label="Fullscreen image"> </a>-->

    {{- with .Title}}<figcaption class="small" > {{ . | safeHTML}}</figcaption> {{ end -}}
</figure>
<dialog id="lb-{{ $uniqueId  }}">
    
    <img
        class="dialogimg"
        src="{{ $image.RelPermalink }}"
        loading="lazy"
        
        width="{{ $image.Width}}"
        height="{{ $image.Height}}"
        />
</dialog>

