{{ $image := .Page.Resources.GetMatch .Destination }}
{{ $uniqueId := $image.Content | hash.XxHash }}
{{ $used:= $image}}

{{ $webpsrc := "" }}
{{ $webpsrcfit := "" }}
{{ $jpgsrc := "" }}
{{ $webpsrc2 := "" }}
{{ $jpgsrc2 := "" }}
{{ $jpg720  := ""  }}
{{ $webpsrc720 := "" }}
{{ $usedsrc:= $image }}
{{ $animated := false }}
{{ $colors := "" }}


{{ $sizesInt := slice "720" "1440" "1920"}}

{{ $SmartSizes := slice }}
{{ range $sizesInt }}
  {{ if lt . $image.Width }}
   {{  $SmartSizes = $SmartSizes | append .  }}
  {{ else }}
    {{ if not ( in $SmartSizes $image.Width )}}
     {{  $SmartSizes = $SmartSizes | append ( string $image.Width) }}
    {{ end}}
  {{ end }}
{{ end }}

{{ $webp_opt := dict 
  "format" "webp"
  "resize_opt" "q70 webp"
}}
{{ $jpeg_opt := dict 
  "format" "jpeg"
  "resize_opt" "q65 jpeg"
}}
{{ $codec := slice $webp_opt $jpeg_opt }}

{{ if ne $image.MediaType.SubType  "gif"  }}
  {{ $jpg720 = ($image.Resize "720x jpg" ) }}
  {{ $jpgsrc = $jpg720.RelPermalink }}
  {{ $usedsrc = $jpgsrc}}
  {{ $colors = $jpg720.Colors }}
  {{ $webpsrc = ($image.Process "webp q95" ).RelPermalink }}
{{ else }}
  {{ $usedsrc = $image.RelPermalink  }}
  {{ $animated = true  }}
{{ end }}

<figure>
{{/*  {{- with .Title}}   <div class="title-img">{{ . }}</div> {{ end -}}  */}}
<picture>

  {{ if ne $image.MediaType.SubType  "gif"  }}
    {{ range $codec}}
     {{ $codecOpt := (index .  "resize_opt" )  }}
      <source 
      type={{- printf "image/%s" (index . "format") }}
      srcset = "{{- range $SmartSizes }}
        {{- ($image.Resize (printf "%sx %s" . $codecOpt )).RelPermalink }} {{ (printf "%sw," .)}}
      {{- end }}"
      > 
    {{ end}}
  {{ else }}
    {{ $usedsrc = $image.RelPermalink  }}
    {{ $animated = true  }}
  {{ end }}
     
    <img 
    class="post-img u-photo" 
    src="{{ $usedsrc }}"   
    {{ with .Text}}  alt="{{  plainify  . | safeHTML}}" {{ end }} 
    {{/*  {{ with .Title}} title="{{  plainify  . | safeHTML}}"{{ end }}   */}}
    loading="lazy"
    width="{{$used.Width}}" 
    height="{{$used.Height}}"
    onclick="openLightbox(this, {{ $uniqueId  }} )"

    style="
    background-image:
    linear-gradient(to bottom right, {{- delimit $colors ", "   }} );
    "
    />
  </picture>
    <!--<a href="{{ .Destination | safeURL }}" target="_blank"  class="fullscreen-container" aria-label="Fullscreen image"> </a>-->

    {{- with .Title}}<figcaption class="small" > {{ . | safeHTML}}</figcaption> {{ end -}}
</figure>
<dialog id="lb-{{ $uniqueId  }}">
    
    <img
        class="dialogimg"
        src="{{ if $animated }}{{ $usedsrc  }}{{ else }}{{ $webpsrc  }}{{ end }}   "
        loading="lazy"
        
        width="{{ $image.Width}}"
        height="{{ $image.Height}}"
        />
</dialog>

