{{- $path := .Attributes.path }}
{{- $path_prefix := .Attributes.prefix }}
{{- $minimized := default false .Attributes.minimized }}
{{- $terminal := slice "shell" "powershell" "bash" "sh" "ksh" "zsh" "shell" "fish" "fishshell" "pwsh" "posh" "tcsh" "csh" "vsh" "vshell" }}
{{- $file_type_decorator := "" }}
{{- $path_decorator := "" }}
{{- $path_suffix := "" }}
{{- if in $terminal .Type  }}
    {{- $file_type_decorator = "terminalIcon" }}
    {{- $path_decorator = "terminalIcon" }}
    {{- $path_suffix = "$>" }}
{{- else }}
    {{- $file_type_decorator = "codeIcon" }}
{{- end }}
<details class="codeblock" {{ if $minimized }} close {{ else }} open {{ end }}>
<summary class=" codelang">
    <span class="codeblock_file_type {{ $file_type_decorator | safeCSS }}">{{ .Type  }}</span>
    {{- with $path }}
        <span class="codeblock_file_path">
            {{- with $path_prefix}}<i>({{.}})</i>{{- end}}
            <b>{{.}}
            <span class="{{ $path_decorator | safeCSS}}">{{- $path_suffix }}</span>
            </b>
        </span>
    {{- end }}
</summary>
<div>
{{ $result := transform.HighlightCodeBlock . }}
{{ $result.Wrapped }}
</div>
</details>

