{{ $image := .Page.Resources.GetMatch .Destination }}

{{ $used:= $image}}

{{ $webpsrc := "" }}
{{ $webpsrcfit := "" }}
{{ $jpgsrc := "" }}
{{ $webpsrc2 := "" }}
{{ $jpgsrc2 := "" }}
{{ $webp720  := ""  }}
{{ $webpsrc720 := "" }}
{{ $usedsrc:= $image }}
{{ $animated := false }}
{{ $colors := "" }}



{{ if ne $image.MediaType.SubType  "gif"  }}
{{ $jpgsrc = ($image.Resize "720x jpg" ).RelPermalink }}
{{ $jpgsrc2 = ($image.Resize "1440x jpg" ).RelPermalink }}
{{ $webpsrcfit = ($image.Resize "1440x q95 webp" ).RelPermalink }}
{{ $webpsrc = ($image.Process "webp q95" ).RelPermalink }}
{{ $webp720 = $image.Resize "720x q95 webp"  }}
{{ $webpsrc720 = $webp720.RelPermalink }}
{{ $usedsrc = $jpgsrc}}
{{ $colors = $webp720.Colors }}
{{ else }}
{{ $usedsrc = $image.RelPermalink  }}
{{ $animated = true  }}
{{ end }}



<figure>
  
{{- with .Title}}   <div class="title-img">{{ . }}</div> {{ end -}}
<picture>

{{ with $webpsrc720 }}<source type="image/webp" srcset="{{ . }} 720w, {{ $webpsrcfit }} 1440w" > {{ end }}
{{ with $jpgsrc }}<source type="image/jpeg" srcset="{{ . }} 720w, {{ $jpgsrc2 }} 1440w" >{{ end }}
    
    <img 
    class="post-img" 
    src="{{ $usedsrc }}"   
    {{ with .Text}}  alt="{{  plainify  . | safeHTML}}" {{ end }} 
    {{ with .Title}} title="{{  plainify  . | safeHTML}}"{{ end }} 
    loading="lazy"
    width="{{$used.Width}}" 
    height="{{$used.Height}}"

    onclick="openLightbox(this, {{ .Ordinal  }} )"

    style="
    background-image:
    linear-gradient(to bottom right, {{- delimit $colors ", "   }} );
    "
    >
  </picture>
    <!--<a href="{{ .Destination | safeURL }}" target="_blank"  class="fullscreen-container" aria-label="Fullscreen image"> </a>-->

    {{- with .Text}}<figcaption class="small" > {{ . | safeHTML}}</figcaption> {{ end -}}
</figure>
<dialog id="lb-{{ .Ordinal  }}">
    
    <img
        class="dialogimg"
        src="{{ if $animated }}{{ $usedsrc  }}{{ else }}{{ $webpsrc  }}{{ end }}   "
        loading="lazy"
        
        width="{{ $image.Width}}"
        height="{{ $image.Height}}"
        >
</dialog>

