{{ define "main" }}
  <article class="h-entry">
  {{/*  <h1>{{ partial "smart_title.html" . }}</h1>  */}}
  <div class="bitsInfo ">
    {{ with .Date }}
      {{ $dateMachine := . | time.Format "2006-01-02T15:04:05-07:00" }}
      {{ $dateHuman := . | time.Format ":date_long" }}
        <a class="u-url" href={{ $.RelPermalink }}><time class="dt-published" datetime="{{ $dateMachine }}">{{ $dateHuman }}</time></a>
    {{ end }}
  </div>
  <div class="e-content">
  {{ .Content }}
  <a  class="u-bridgy-fed" href="https://fed.brid.gy/" hidden="from-humans" ></a>
  </div>
  {{- partial "terms_bits.html" (dict "taxonomy" "tags" "page" .) }}
  {{-  with $.Site.Params.Bits_author }}
  <p class="p-author h-card">Author: <a href={{ $.Site.Params.author.url }} rel=author>{{ . }}</a>
  </p>{{ end }}
  </article>
{{ end }}
