{{ define "main" }}
  <article class="h-entry">
  <div class="bitsInfo ">
    {{ with .Date }}
      {{ $dateMachine := . | time.Format "2006-01-02T15:04:05-07:00" }}
      {{ $dateHuman := . | time.Format ":date_long" }}
        <a class="u-url" href={{ $.RelPermalink }}><time class="dt-published" datetime="{{ $dateMachine }}">{{ $dateHuman }}</time></a>
    {{ end }}
  </div>
  <div class="e-content">
  {{ .Content }}
  </div>
  {{ partial "terms_bits.html" (dict "taxonomy" "tags" "page" .) }}
  {{  with $.Site.Params.Bits_author }}<p class="p-author h-card">Author: {{ . }}</p>{{ end }}
  </article>

  {{ $headers := dict 
      "Authorization" "Bearer ts5b-6kj6-fczf-dbxe"
  }}
  {{ $bridgyyReq := dict 
      "header" $headers
      "method" "POST"
  }}
  {{/*  {{ with try (resources.GetRemote  "https://brid.gy/micropub" $bridgyyReq) }}
  {{ with .Err }}
    {{ errorf "%s" . }}
  {{ else with .Value }}
    <img src="{{ .RelPermalink }}" width="{{ .Width }}" height="{{ .Height }}" alt="">
  {{ else }}
    {{ errorf "Unable to get remote resource %q" $bridgyyReq }}
  {{ end }}  
{{ end }}*/}}

{{ end }}
