/* XITS from https://github.com/fred-wang/MathFonts/blob/main/XITS/mathfonts.css */

@font-face {
    font-family: XITS;
    src: local('XITS'),
         url('XITS-Regular.woff2'), url('XITS-Regular.woff');
}
/* @font-face {
    font-family: XITS;
    src: local('XITS Bold'), local('XITS-Bold'),
         url('XITS-Bold.woff2'), url('XITS-Bold.woff');
    font-weight: bold;
}
@font-face {
    font-family: XITS;
    src: local('XITS Italic'), local('XITS-Italic'),
         url('XITS-Italic.woff2'), url('XITS-Italic.woff');
    font-style: italic;
}
@font-face {
    font-family: XITS;
    src: local('XITS Bold Italic'), local('XITS-BoldItalic'),
         url('XITS-BoldItalic.woff2'), url('XITS-BoldItalic.woff');
    font-weight: bold;
    font-style: italic;
} */
@font-face {
    font-family: XITS Math;
    src: local('XITS Math'), local('XITSMath-Regular'),
         url('XITSMath-Regular.woff2') format(woff2), url('XITSMath-Regular.woff') format(woff);
}
@font-face {
    font-family: XITS Math;
    src: local('XITS Math Bold'), local('XITSMath-Bold'),
         url('XITSMath-Bold.woff2')  format(woff2);
    font-weight: bold;
}