{{- $ytid := (index .Params 0) }}
{{ $opts := dict
  "colors" (slice "222222" "808080" "dddddd")
  "method" "ClusteredDot4x4"
  "strength" 0.85
}}

{{ $filter := images.Dither $opts }}
<figure class="lite-youtube-container">
{{- $thumbnailUrl := printf "https://i.ytimg.com/vi_webp/%s/hqdefault.webp" $ytid }}
{{- with try ($thumbnail := resources.GetRemote $thumbnailUrl ) }}
{{- with .Err }}
      {{- warnf "%s" . }}
        <lite-youtube videoid="{{ $.youtubeID }}" style="background-image: url('https://i.ytimg.com/vi_webp/{{ $ytid }}/hqdefault.webp');">
        <a href="https://youtube.com/watch?v={{ $ytid }}" class="lty-playbtn" title="Play Video">
          <span class="lyt-visually-hidden">Youtube video</span>
        </a>
        </lite-youtube>
  {{- else with .Value  }}
  {{- with . | images.Filter $filter  }}
    <lite-youtube videoid="{{ $ytid}}" style="background-image: url('{{ .RelPermalink }}');">
    <a href="https://youtube-nocookie.com/watch?v={{ $ytid }}" class="lty-playbtn" title="Play Video">
      <span class="lyt-visually-hidden">Youtube video</span>
    </a>
    </lite-youtube>
{{- end }}
{{- end }}
{{- end }}
<figcaption class="small" > <a href="https://youtube.com/watch?v={{ $ytid }}" >Youtube Video</a></figcaption>
</figure>